<%= content_tag :li, class: selected(collection[:id]) + " " + collection[:parent_class], data: collection[:parent_data] do %>
  <%= link_to collection[:path], remote: true, class: 'feed-link', data: collection[:data] do %>
    <span class="favicon-wrap collection-favicon">
      <%= svg_tag collection[:favicon_class], size: '16x16' %>
    </span>
    <%= collection[:title] %>
    <%= content_tag :span, '', class: 'count', data: collection[:count_data] %>
  <% end %>
<% end %>
