<div class="flex gap-6 flex-wrap group">
  <div>
    <input type="radio" id="radio" class="peer">
    <label for="radio" class="group flex items-center gap-2">
      <%= render Form::RadioComponent.new %>
      Radio
    </label>
  </div>

  <div>
    <input type="radio" id="radio" checked class="peer">
    <label for="radio" class="group flex items-center gap-2">
      <%= render Form::RadioComponent.new %>
      Radio
    </label>
  </div>

  <div>
    <input type="radio" id="radio" class="peer">
    <label for="radio" class="group flex items-center gap-2" data-focused="true">
      <%= render Form::RadioComponent.new %>
      Radio
    </label>
  </div>

  <div>
    <input type="radio" id="radio" checked class="peer">
    <label for="radio" class="group flex items-center gap-2" data-focused="true">
      <%= render Form::RadioComponent.new %>
      Radio
    </label>
  </div>

  <div>
    <input type="radio" id="radio" checked disabled class="peer">
    <label for="radio" class="group flex items-center gap-2">
      <%= render Form::RadioComponent.new %>
      Radio
    </label>
  </div>

  <div>
    <input type="radio" id="radio" disabled class="peer">
    <label for="radio" class="group flex items-center gap-2">
      <%= render Form::RadioComponent.new %>
      Radio
    </label>
  </div>
</div>
