<h1><%= @user.email %></h1> 

<% @my_profiles.each do |profile| %>
  <h1><%= profile.profile_name %> --- <%= profile.profile_name %> --- <%= profile.profile_name %></h1>
  <% profile.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
<% end %>
<br/>
<h1>Add profiles</h1>
<br/>
<% @profiles.each do |profile| %>
  <h1><%= profile.profile_name %></h1>
  <h1><%= button_to "Subscribe", subscribe_profile_path(profile), method: :post %></h1>

<% end %>