<%= form_for(feed, remote: true, method: :patch, html: {class: 'settings', data: {behavior: "edit_tags_form"}}) do |f| %>
    <div class="inset smooth-top">
        <div class="inset-content">
            <h4 class="group-header"><span data-behavior="user_title" data-feed-id="<%= feed.id %>"><%= strip_tags(feed.title) %></span></h4>
        </div>
        <ul class="control-group control-group-form" data-behavior="tags_target">
            <% tag_editor.tags.each do |tag| %>
            <li>
                <%= check_box_tag "tag_id[#{tag.id}]", tag.name, tag_editor.checked?(tag) %>
                <%= label_tag "tag_id[#{tag.id}]" do %>
                    <%= tag.name %> <span class="slider-checkbox"></span>
                <% end %>
            </li>
            <% end %>
        </ul>
        <ul class="control-group control-group-form">
            <li>
                <button data-behavior="add_tag" type="button">+ Add Tag</button>
            </li>
        </ul>
    </div>
    <button class="hide" type="submit"></button>
<% end %>
