<%= render partial: "collections/collection", collection: collections %>

<% if page_feed.present? %>
    <% present page_feed do |feed_presenter| %>
        <%= content_tag :li, class: "collection-pages collection-source", data: {feed_id: page_feed.id } do %>
            <%= feed_presenter.feed_link(link: pages_feed_path(page_feed), behavior: "selectable show_entries open_item feed_link") do %>
                <span class="link-inner">
                    <%= feed_presenter.favicon(page_feed) %>
                    <span class="collection-label-wrap" >
                        <span class="collection-label">Pages</span>
                    </span>
                    <span class="count-wrap">
                        <%= content_tag :span, "", class: "count", data: {behavior: "needs_count", count_group: "byFeed", count_group_id: page_feed.id} %>
                    </span>
                </span>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<% if saved_searches.present? %>
    <li class="source-section section-saved-searches">
        Searches
    </li>
    <%= render partial: "saved_searches/saved_search", collection: saved_searches %>
<% end %>

<% if profiles.present? %>
    <li class="source-section section-tags">
        Profiles
    </li>
    <%= render partial: "profiles/profile", collection: profiles, cache: true  %>
<% end %>

<% if tags.present? %>
    <li class="source-section section-tags">
        Tags
    </li>
    <%= render partial: "tags/tag", collection: tags  %>
<% end %>

<% if feeds.present? %>
    <li class="source-section section-feeds">
        Feeds
    </li>
    <%= render partial: "feeds/feed", collection: feeds, cached: -> (feed) { [feed, feed.favicon, "v2"] } %>
<% end %>
