<% present feed do |feed_presenter| %>
    <%= content_tag :li, data: {feed_id: feed.id, behavior: 'draggable sort_feed', sort_id: feed.id, feed_path: feed_path(feed) } do %>
        <%= feed_presenter.feed_link do %>
            <%= feed_presenter.favicon(feed) %>
            <span class="collection-label-wrap" data-behavior="rename_target user_title" data-form-action="<%= feed_rename_path(feed.id) %>" data-input-name="feed[title]" data-title="<%= feed.title %>" data-original-title="<%= feed.original_title %>" data-feed-id="<%= feed.id %>">
                <span class="collection-label" data-behavior="user_title rename_title" data-feed-id="<%= feed.id %>"><%= feed.title %></span>
            </span>
            <span class="count-wrap">
                <%= content_tag :span, '', class: 'count', data: {behavior: 'needs_count', count_group: 'byFeed', count_group_id: feed.id} %>
            </span>
        <% end %>
    <% end %>
<% end %>
