<%= form_for feed || tag, remote: true, html: {data: {behavior: 'tags_form'}, class: 'tags-form-field'} do |f| %>
  <% if tag %>
    <div class="tag-field-wrap tag-update">
      <%= f.text_field :name, autocomplete: 'off'%>
    </div>
    <%= submit_tag 'Update', class: 'button button-white button-text', name: 'commit' %>
  <% else %>
    <div class="tag-field-wrap">
      <%= text_field_tag 'feed[tag_list]', tags.join(', '), autocomplete: 'off', class: 'feed_tag_list' %>
    </div>
    <%= submit_tag 'Tag', class: 'button button-white button-text', name: 'commit' %>
  <% end %>
<% end %>
<div data-behavior="tag_completions" class="completions">
</div>
