<% @class = 'login' %>
<div class="login-wrap">
    <a href="/" class="logo">
        <%= svg_tag "logo-full" %>
    </a>
    <div class="box">
        <%= render partial: 'shared/flash', locals: {flash: flash} %>
        <h3 class="box-header">Reset Password</h3>
        <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
            <% if @user.errors.present? %>
                <div class="alert alert-error">
                    <%= @user.errors.full_messages.join('. ') %>.
                </div>
            <% end %>
            <div class="input-group-wrap">
                <%= f.label :password, "Password" %>
                <%= render "shared/input" do %>
                    <%= f.password_field :password %>
                <% end %>
            </div>
            <button type="submit" class="button flex">Reset Password</button>
        <% end %>
    </div>
</div>
<%= render partial: 'shared/svg' %>