<p>I first built Feedbin to keep up with all of the great blogs and websites that helped me become a better engineer, designer, and ultimately, a startup founder.</p>
<p>What are you passionate about? Take a few minutes to  add the URL of your favorite websites to Feedbin and we’ll keep you in the know.</p>
<p>Here are some interesting and lesser known sites you might be interested in:</p>
<ul>
    <li><a href="<%= subscribe_url(subscribe: 'http://feeds.feedburner.com/SeriousEats-thefoodlab') %>">Serious Eats: The Food Lab </a> - Unraveling the mysteries of home cooking through science</li>
    <li><a href="<%= subscribe_url(subscribe: 'https://www.macsparky.com/blog?format=rss') %>">MacSparky</a> - Reviews and news from a friendly lawyer</li>
    <li><a href="<%= subscribe_url(subscribe: 'https://mjtsai.com/blog/feed/') %>"> Michael Tsai</a> - Prolific and deep link blog about development</li>
    <li><a href="<%= subscribe_url(subscribe: 'https://xkcd.com/atom.xml') %>"> xkcd</a> - A webcomic of romance, sarcasm, math, and language.</li>
</ul>
<p>Not sure what sites to follow? Just reply to this email with something you're passionate about and I’ll send you a suggestion. Really!</p>
<p class="border">Ben</p>
<p><small><a href="<%= unsubscribe_link(@user) %>">Unsubscribe</a></small></p>
