<p>Hey there,</p>
<p>Thanks for signing up for Feedbin, where you can follow your passions and never miss a post from your favorite websites.</p>
<p>This is a great time to subscribe to your favorite websites in Feedbin and we’ll keep every new post saved for you to read anytime.</p>
<p>No matter what you’re interested in, there are some incredible sites to keep up with. Some Feedbin favorites are:</p>
<ul>
    <li><a href="<%= subscribe_url(subscribe: 'http://daringfireball.net/feeds/main') %>">Daring Fireball</a> - Apple & Technology</li>
    <li><a href="<%= subscribe_url(subscribe: 'http://feeds.kottke.org/main') %>">Kottke.org</a> - The best stuff on the Web</li>
    <li><a href="<%= subscribe_url(subscribe: 'http://weirdfictionreview.com/feed/') %>"> Weird Fiction Review</a> - Books</li>
    <li><a href="<%= subscribe_url(subscribe: 'https://feedpress.me/beautifulpixels') %>"> Beautiful Pixels</a> - Design</li>
</ul>
<p>I’ve been building Feedbin for four years now, and I hope you enjoy it as much as I do.</p>
<p>You can check out the <a href="https://feedbin.com/help">Feedbin help site</a> if you have any questions, or reply to this email. Enjoy!</p>
<p class="border">Ben</p>
<p><small><a href="<%= unsubscribe_link(@user) %>">Unsubscribe</a></small></p>
