<% if label? %>
<div class="mb-2 text-600">
  <%= label %>
</div>
<% end %>
<div data-accessories="<%= class_names(leading: accessory_leading?, trailing: accessory_trailing?) %>" class="flex relative grow mb-2 [&_input]:data-[accessories~=leading]:!pl-8 [&_input]:data-[accessories~=trailing]:!pr-8">
  <%= input %>
  <%= accessory_leading %>
  <%= accessory_trailing %>
  <div class="absolute top-[-5px] right-[-5px] bottom-[-5px] left-[-5px] border-4 border-transparent rounded-[9px] pointer-events-none peer-focus:border-blue-400"></div>
</div>
