<% present entry, local_assigns do |entry_presenter| %>
    <header class="entry-header">
        <%= link_to entry.fully_qualified_url, target: '_blank', rel: 'noopener noreferrer', id: 'source_link' do  %>
            <h1><%= entry_presenter.entry_view_title %></h1>
        <% end %>
        <p class="post-meta">
            <time datetime="<%= entry_presenter.datetime %>"><%= entry_presenter.published_date %></time>
            <% unless entry.feed.newsletter? %>
                <%= entry_presenter.author %>
            <% end %>
        </p>
        <% if entry_presenter.newsletter_from? %>
            <p class="post-meta"><%= entry_presenter.newsletter_from.name %> <% if entry_presenter.newsletter_from.address.present? %><span class="faded">&lt;<%= entry_presenter.newsletter_from.address %>&gt;</span><% end %></p>
        <% else %>
            <p class="post-meta feed-title"><span data-behavior="user_title" data-feed-id="<%= entry.feed.id %>"><%= strip_tags(entry.feed.title) %></span></p>
        <% end %>
    </header>
    <div data-behavior="entry_content_wrap external_links" class="content-styles <%= entry_presenter.entry_type_class %>">
        <%= render partial: "article_content", locals: {entry: entry} %>
    </div>
<% end %>
