<% present entry do |entry_presenter| %>
    <%= entry_presenter.entry_summary do %>
        <%= entry_presenter.entry_link do %>
            <div class="entry-summary-inner">
                <div class="feed-title-inline">
                    <%= entry_presenter.favicon(entry.feed, entry) %>
                    <%= entry_presenter.feed_title %>
                </div>
                <div class="title-wrap">
                    <%= entry_presenter.favicon(entry.feed, entry) %>
                    <div class="title"><%= entry_presenter.title %></div>
                </div>
                <div class="summary-content">
                    <%= entry_presenter.feed_title %>
                    <%= entry_presenter.summary %>
                    <%= entry_presenter.quoted_tweet %>

                    <% if entry.processed_image? %>
                        <%= entry_presenter.attached_image %>
                    <% elsif (entry.tweet? && entry.tweet.link_preview?) || (entry.micropost? && entry.micropost.link_preview?) %>
                        <div class="link-preview">
                            <%= entry_presenter.image entry.link_image, entry.link_image_placeholder_color %>
                            <div class="link-preview-content">
                                <div class="light"><%= entry_presenter.saved_page_title(entry.link_preview_url) %></div>
                                <div class="link-host extra-light"><%= entry_presenter.saved_page_host(entry.link_preview_url) %></div>
                            </div>
                        </div>
                    <% end %>



                    <div class="summary-status light">
                        <%= content_tag(:time, entry.published, datetime: entry.published.iso8601, class: "time timeago") %>
                        <%= svg_tag "icon-retweet", class: "light" %>
                        <%= svg_tag "icon-media", class: "light" %>
                        <%= svg_tag "icon-star-on" %>
                    </div>
                </div>
                <div class="summary-status summary-status-inline light">
                    <%= content_tag(:time, entry.published, datetime: entry.published.iso8601, class: "time timeago") %>
                    <%= svg_tag "icon-retweet", class: "light" %>
                    <%= svg_tag "icon-media", class: "light" %>
                    <%= svg_tag "icon-star-on" %>
                </div>
            </div>
        <% end %>
        <div class="summary-menu dropdown-wrap dropdown-right">
            <button class="summary-menu-button" data-behavior="toggle_dropdown">
                <%= svg_tag "icon-dots" %>
            </button>
            <div class="dropdown-wrap">
                <div class="dropdown-content">
                    <ul class="nav">
                        <li>
                            <%= button_tag data: {behavior: "mark_above_read"} do %>
                                <span class="icon-wrap">
                                    <%= svg_tag "icon-direction" %>
                                </span>
                                <span class="menu-text">
                                    <span class="title">Mark above as read</span>
                                </span>
                            <% end %>
                        </li>
                        <li>
                            <%= button_tag data: {behavior: "mark_below_read"} do %>
                                <span class="icon-wrap">
                                    <%= svg_tag "icon-direction", class: "flip" %>
                                </span>
                                <span class="menu-text">
                                    <span class="title">Mark below as read</span>
                                </span>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
<% end %>


