<button class="back-button" data-behavior="show_feeds">
    <%= svg_tag "icon-arrow", size: "9x15" %>
</button>
<% if @feed %>
    <% present feed do |feed_presenter| %>
        <span class="feed-title-wrap">
            <span data-behavior="user_title" data-feed-id="<%= @feed.id %>"><%= @feed.title %></span>
        </span>
    <% end %>
<% else %>
    <span class="feed-title-wrap">
        <%= @collection_title %>
    </span>
<% end %>
<button class="search-button" data-behavior="toggle_search"><%= svg_tag "icon-search", size: "16x16" %></button>
