<% present entry do |entry_presenter| %>
    <% if entry_presenter.media_type && entry_presenter.media_type == :audio %>
        <div class="audio-container entry-callout">
            <div class="audio-image">
                <% if entry_presenter.media_image %>
                    <%= image_tag entry_presenter.media_image %>
                <% else %>
                    <%= svg_tag 'icon-podcast', size: '15x26' %>
                <% end %>
            </div>
            <div class="audio-text">
                <%= content_tag :div, strip_tags(entry.feed.title), class: 'entry-feed-title', title: strip_tags(entry.feed.title), data: {behavior: 'user_title', feed_id: entry.feed.id} %>
                <div class="audio-title-wrap">
                    <div class="audio-title" title="<%= entry_presenter.entry_view_title %>"><%= entry_presenter.entry_view_title %></div>
                </div>
                <%= entry_presenter.audio_duration %>
            </div>
            <div class="audio-controls">
                <a class="button-text button-empty" href="<%= entry.data['enclosure_url'] %>" target="_blank" rel="noopener noreferrer" title="Download">
                    <%= svg_tag('icon-download', size: "16x16") %>
                </a>
                <button class="button-text button-empty play-button" data-behavior="audio_launch_player" title="Play/Pause">
                    <%= svg_tag('icon-play', size: "18x18") %>
                    <%= svg_tag('icon-pause', size: "18x18") %>
                </button>
            </div>
        </div>

        <div class="hide" data-behavior="audio_markup">
            <div class="audio-container">
                <div class="audio-image">
                    <% if entry_presenter.media_image %>
                        <%= image_tag entry_presenter.media_image %>
                    <% else %>
                        <%= svg_tag 'icon-podcast', size: '15x26' %>
                    <% end %>
                    <button class="button-text button-empty play-button" data-behavior="audio_play" title="Play/Pause">
                        <%= svg_tag('icon-play', size: "14x16") %>
                        <%= svg_tag('icon-pause', size: "13x17") %>
                    </button>
                </div>
                <div class="audio-text">
                    <div class="feed-title-wrap">
                        <div class="entry-feed-title" title="<%= strip_tags(entry.feed.title) %>" data-behavior="user_title" data-feed-id="<%= entry.feed.id %>">
                            <%= strip_tags(entry.feed.title) %>hi
                        </div>
                        <div class="audio-panel-controls">
                            <button title="Minimize" class="button-text button-empty">
                                -
                            </button>
                            <button title="Close" class="button-text button-empty">
                                ×
                            </button>
                        </div>
                    </div>
                    <div class="audio-title-wrap"><div class="audio-title" title="<%= entry_presenter.entry_view_title %>"><%= entry_presenter.entry_view_title %></div></div>
                </div>
            </div>
            <div class="audio-player-controls">
                <button class="button-text button-empty" data-behavior="audio_skip_backward" title="Skip Backward 15 Seconds">
                    <%= svg_tag('icon-skip-backward', size: "18x19") %>
                </button>
                <button class="button-text button-empty play-button" data-behavior="audio_play" title="Play/Pause">
                    <%= svg_tag('icon-play', size: "14x16") %>
                    <%= svg_tag('icon-pause', size: "13x17") %>
                </button>
                <button class="button-text button-empty" data-behavior="audio_skip_forward" title="Skip Forward 15 Seconds">
                    <%= svg_tag('icon-skip-forward', size: "18x19") %>
                </button>
            </div>
            <div class="audio-progress">
                <%= audio_tag entry.data['enclosure_url'], preload: 'none', id: 'audio_player' %>
            </div>
        </div>
    <% elsif entry_presenter.media_type %>
        <div class="media-container">
            <%= entry_presenter.media.html_safe %>
        </div>
    <% end %>
<% end %>
