<% present entry do |entry_presenter| %>
    <%= content_tag :div, class: "read", data: {behavior: "selected_entry_data", entry_id: entry.id} do %>
        <%= text_area_tag "source_link_field", entry.fully_qualified_url, class: "visually-hidden" %>
        <div class="entry-toolbar">
            <div class="site-info">
                <button class="back-button" data-behavior="show_entries">
                    <%= svg_tag "icon-arrow", size: "9x15" %>
                </button>
                <button class="entry-button button-full-screen" data-behavior="full_screen" title="Close full screen">
                    <%= svg_tag "icon-full-screen-close-small", size: "16x16" %>
                </button>
                <%= entry_presenter.feed_wrapper(subscriptions) do %>
                    <%= entry_presenter.favicon(entry.feed, entry) %>
                    <%= entry_presenter.entry_header_title %>
                <% end %>
            </div>
            <div class="entry-buttons">
                <%= render partial: "entries/delete_button", locals: {entry: entry} %>
                <%= render partial: "sharing_services/sharing_service_button", locals: {services: services} %>
                <%= render partial: "entries/toggle_content", locals: {extract: extract, entry: entry} %>
                <%= render partial: "starred_entries/form", locals: {entry: entry} %>
                <%= render partial: "unread_entries/form", locals: {entry: entry} %>
                <%= render partial: "shared/entry_settings_button" %>
                <%= render partial: "shared/app_settings" %>
            </div>
        </div>
    <% end %>
    <div class="hide" data-behavior="feed_link_template">
        <%= render partial: "shared/link_actions", locals: {entry: entry} %>
    </div>
    <script>
        feedbin.faviconColors($(".entry-toolbar"))
    </script>
<% end %>
