<% present entry do |entry_presenter| %>
<div class="tweet-wrap">
  <header class="tweet-header">
    <%= image_tag entry_presenter.tweet_profile_image_uri, size: "45x45" %>
    <h1><a href="<%= entry_presenter.tweet_user_url %>" target="_blank"><%= entry_presenter.tweet_name %> <span><%= entry_presenter.tweet_screen_name %></span></a></h1>
    <h2>
      <%= entry_presenter.tweet_created_at_display %>
      <% if entry_presenter.tweet_location %>
          from <%= entry_presenter.tweet_location %>
      <% end %>
    </h2>
    <%= link_to entry.tweet.uri.to_s, target: "_blank", title: "View on Twitter", class: "twitter-link" do %>
        <%= svg_tag "icon-twitter" %>
    <% end %>
  </header>

  <p class="tweet-text"><%= entry_presenter.tweet_text %></p>

    <% if entry.tweet.retweeted_status? %>
      <div class="tweet-meta-wrap">
          <p class="tweet-meta">
            <%= image_tag entry_presenter.tweet_retweeted_image, size: "16x16" %>
            <%= entry_presenter.tweet_retweeted_message %>
          </p>
      </div>
    <% end %>

  <% entry_presenter.tweet_media.each do |media| %>
    <div class="content-styles">
    <% if media.type == "video" %>
      <%= video_tag entry_presenter.tweet_find_video_url(media.video_info.variants), poster: media.media_url_https.to_s + ":large", width: media.video_info.aspect_ratio.first, height: media.video_info.aspect_ratio.last %>
    <% else %>
      <%= image_tag media.media_url_https.to_s + ":large" %>
    <% end %>
    </div>
  <% end %>

<hr />

  <% entry_presenter.tweet_urls.each do |url| %>

    <% if entry_presenter.tweet_youtube_embed(url) %>
      <%= entry_presenter.tweet_youtube_embed(url) %>
    <% elsif page = entry_presenter.saved_page(url.expanded_url.to_s) %>

      <%
      begin
          link_content = ContentFormatter.format!(page.content, nil)
      rescue
          link_content = nil
      end
      %>

      <% if link_content %>
          <p class="post-meta new-section">
          <%= favicon_with_host(url.expanded_url.host) %> <%= url.expanded_url.host %>
          </p>
          <header class="entry-header">
              <%= link_to page.url, target: '_blank', rel: 'noopener noreferrer' do  %>
              <h1><%= page.title || "Untitled" %></h1>
              <% end %>
              <p class="post-meta">
                  <% if page.author %>
                      by <%= page.author %>
                  <% end %>
              </p>
          </header>
          <div class="content-styles" data-behavior="view_link_markup_wrap">
              <%= link_content.html_safe %>
          </div>
      <% end %>
    <% end %>

  <% end %>
</div>
<% end %>
