<% present entry do |entry_presenter| %>
    <div class="tweet-wrap" data-behavior="external_links">
        <%= render partial: "shared/tweet", locals: {entry: entry, tweet: entry.main_tweet, css: "main-tweet entry-main-tweet"} %>

        <% if entry.tweet.retweeted_status? %>
            <div class="tweet-meta-wrap">
                <p class="tweet-meta">
                    <a href="<%= entry_presenter.tweet_user_url(entry.tweet) %>">
                    <%= image_tag_with_fallback(image_url("favicon-profile-default.png"), entry_presenter.tweet_retweeted_image, size: "16x16", alt: "") %>
                    <%= entry_presenter.tweet_retweeted_message %>
                  </a>
                </p>
            </div>
        <% end %>

        <% if entry_presenter.quoted_status? %>
            <%= render partial: "shared/tweet", locals: {entry: entry, tweet: entry_presenter.quoted_status, css: "quoted-tweet"} %>
        <% end %>

        <% entry_presenter.tweet_media.each do |media| %>
            <% if entry_presenter.tweet_video?(media) %>
                <%= entry_presenter.tweet_video(media) %>
            <% else %>
                <%= link_to media.media_url_https.to_s + ":large" do %>
                    <%= image_tag camo_link(media.media_url_https.to_s + ":large"), class: "responsive" %>
                <% end %>
            <% end %>
        <% end %>

        <% entry.tweet_thread.each do |thread| %>
            <%= entry_presenter.tweet_text(thread) %>
            <% thread.media.each do |media| %>
                <% if entry_presenter.tweet_video?(media) %>
                    <%= entry_presenter.tweet_video(media) %>
                <% else %>
                    <%= link_to media.media_url_https.to_s + ":large" do %>
                        <%= image_tag camo_link(media.media_url_https.to_s + ":large"), class: "responsive" %>
                    <% end %>
                <% end %>
            <% end %>
            <% thread.urls.each do |url| %>
                <% if entry_presenter.tweet_youtube_embed(url, :div) %>
                    <p><%= entry_presenter.tweet_youtube_embed(url, :div) %></p>
                <% elsif entry_presenter.tweet_vimeo_embed(url, :div) %>
                    <%= entry_presenter.tweet_vimeo_embed(url, :div) %>
                <% elsif entry_presenter.tweet_instagram_embed(url) %>
                    <%= entry_presenter.tweet_instagram_embed(url) %>
                <% end %>
            <% end %>
        <% end %>

        <% entry_presenter.tweet_urls.each do |url| %>

            <% if entry_presenter.tweet_youtube_embed(url, :div) %>
                <%= entry_presenter.tweet_youtube_embed(url, :div) %>
            <% elsif entry_presenter.tweet_vimeo_embed(url, :div) %>
                <%= entry_presenter.tweet_vimeo_embed(url, :div) %>
            <% elsif entry_presenter.tweet_instagram_embed(url) %>
                <%= entry_presenter.tweet_instagram_embed(url) %>
            <% elsif page = entry_presenter.saved_page(url.expanded_url.to_s) %>

              <%
              begin
                  link_content = ContentFormatter.format!(page.content, nil, true, page.url)
              rescue
                  link_content = nil
              end
              %>

              <% if link_content && link_content.length > 400 %>
                <hr />
                    <p class="post-meta new-section">
                        <%= favicon_with_host(url.expanded_url.host) %> <%= url.expanded_url.host %>
                    </p>
                    <header class="entry-header">
                        <%= link_to page.url, target: '_blank', rel: 'noopener noreferrer' do  %>
                            <h1><%= page.title || "Untitled" %></h1>
                        <% end %>
                        <p class="post-meta">
                            <% if page.author %>
                                by <%= page.author %>
                            <% end %>
                        </p>
                    </header>
                    <div class="content-styles entry-final-content entry-type-default" data-behavior="view_link_markup_wrap entry_final_content external_links">
                        <%= link_content.html_safe %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
<% end %>
