<%= render Settings::ControlGroupComponent.new class: "group mb-14", data: {capsule: "true"} do |group| %>
  <% group.item do %>
    <div class="py-3 px-4">
      <div class="flex justify-between">
        <strong class="font-bold">Progress</strong>
        <div class="text-500"><%= number_with_delimiter(@import.import_items.where.not(status: :pending).count) %> of <%= number_with_delimiter(@import.import_items.count) %></div>
      </div>

      <div class="flex mt-4 mb-2 bg-100 rounded-full w-full overflow-hidden">
        <%= content_tag :div, "", class: "h-[12px] bg-green-600", style: "width: #{number_to_percentage(@import.percentage_complete)};", title: "#{number_with_delimiter(@import.import_items.complete.count)} imported", data: {toggle: "tooltip"} %>
        <%= content_tag :div, "", class: "h-[12px] bg-red-600", style: "width: #{number_to_percentage(@import.percentage_failed)};", title: "#{number_with_delimiter(@failed_items.count)} missing", data: {toggle: "tooltip"} %>
      </div>

      <div class="flex justify-between gap-4">
        <div class="text-500 truncate">
          <%= @import.filename %>
        </div>
        <span class="text-500 flex gap-2 items-center">
          <% if @import.percentage == 100 %>
            <%= svg_tag "icon-check", class: "fill-green-600" %>
          <% end %>
          <span><%= number_to_percentage(@import.percentage.floor, precision: 0) %></span>
        </span>
      </div>

    </div>
  <% end %>
<% end %>

<% if @failed_items.present? %>
  <div class="flex justify-between items-baseline">
    <%= render Settings::H2Component.new do %>
      Missing Feeds
    <% end %>
    <div class="text-500">
      <%= number_with_delimiter(@failed_items.count) %>
    </div>
  </div>

  <% @failed_items.each do |import_item| %>
    <%= render import_item %>
  <% end %>
<% end %>
