<div class="modal-wrapper">
    <%= form_for(saved_search, remote: true, html: {class: 'settings', data: {behavior: "disable_on_submit"}}) do |f| %>
        <% content_for :modal_content do %>
            <div class="modal-header-input">
                <%= f.text_field :name, placeholder: saved_search.name || "Title", data: {behavior: "autofocus"} %>
                <span class="icon"><%= svg_tag "favicon-saved-search", size: "16x16" %></span>
            </div>
        <% end %>

        <% content_for :modal_body do %>
            <div class="inset">
                <h4 class="group-header">Query</h4>
                <ul class="control-group no-border">
                    <li class="text no-border">
                        <%= render "shared/input" do %>
                            <%= f.text_field :query, placeholder: saved_search.query %>
                        <% end %>
                    </li>
                </ul>
            </div>
        <% end %>

        <% content_for :modal_footer do %>
            <% if saved_search.persisted? %>
                <%= link_to saved_search_path(saved_search), method: :delete, remote: true, class: "button-text delete-button", data: { confirm: "Are you sure you want to delete this saved search?" } do %>
                    <%= svg_tag "icon-delete", size: "13x16" %> Delete
                <% end %>
            <% end %>

            <button type="button" class="button button-secondary" data-dismiss="modal" aria-label="Cancel">Cancel</button>
            <button type="submit" class="button">Save</button>
        <% end %>

        <%= render template: "layouts/modal_inner", locals: {purpose: "edit"} %>
    <% end %>
</div>
