<tr>
  <td class="<%= action_class(f.object.persisted?) %>">
    <div class="por">
      <% if f.object.persisted? %>
        <%= render partial: 'actions/text_description', locals: {action: f.object} %>
        <a href="#" data-behavior="edit_action" class="button button-link edit-action">Edit</a>
      <% end %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :_destroy %>
      <%= link_to 'Delete', '#', class: 'button button-text button-danger button-link', data: {behavior: 'remove_fields'} %>

      <div class="action-form <% if f.object.persisted? %>hide<% end %>">
        <h4>Keywords</h4>
        <p><%= f.search_field :query %></p>
        <h4>Feeds</h4>
        <p class="half-margin">
          <label class="checkbox">
            <%= f.check_box :all_feeds, data: {behavior: 'check_feeds'} %>
            Include All Feeds
          </label>
        </p>
        <div class="feed-ids">
          <%=
            f.collection_check_boxes(:feed_ids, @user.feeds.include_user_title, :string_id, :title) do |b|
              options = {}
              if f.object.all_feeds == true
                options[:disabled] = 'disabled'
              end
              b.label(class: "checkbox") { b.check_box(options) + b.text }
            end
          %>
        </div>

        <h4>Actions</h4>
        <%=
          f.collection_check_boxes(:actions, Feedbin::Application.config.action_names, :value, :label) do |b|
            b.label(class: "checkbox", data: {behavior: "action_#{b.value}"}) { b.check_box + b.text }
          end
        %>
      </div>
    </div>
  </td>
</tr>
