<%= form_for(@action, as: :action_params, remote: true) do |f| %>
    <div class="inset">
        <ul class="control-group no-border">
            <li class="text no-border">
                <%= f.text_field :title, placeholder: "Action Name" %>
            </li>
        </ul>
        <div class="inset-content">
            <h4 class="group-header">Article Matches Search</h4>
        </div>
        <ul class="control-group no-border">
            <li class="text no-border">
                <%= f.search_field :query, placeholder: "Search" %>
            </li>
        </ul>
        <% if @user.taggings.present? %>
            <div class="inset-content por">
                <h4 class="group-header">Article is in Tag</h4>
            </div>
            <div class="filter-wrap">
                <div class="filter">
                    <%=
                      f.collection_check_boxes(:tag_ids, @user.feed_tags, :id, :name) do |b|
                        b.label(class: "checkbox") do
                          b.check_box + b.text
                        end
                      end
                    %>
                </div>
            </div>
        <% end %>
        <div class="inset-content por">
            <h4 class="group-header">Article is in Feed</h4>
        </div>
        <div class="filter-feeds-include-all">
            <label class="checkbox">
                <%= f.check_box :all_feeds, data: {behavior: 'check_feeds'} %>
                Include All
            </label>
            <input type="text" class="action-feed-search" data-behavior="feed_search" placeholder="Filter" />
        </div>
        <div class="filter-wrap">
            <div class="filter" data-behavior="search_results">
                <%=
                  f.collection_check_boxes(:feed_ids, @user.feeds.include_user_title, :string_id, :title) do |b|
                    options = {data: {behavior: 'collection_checkbox'}}
                    if f.object.all_feeds == true
                      options[:disabled] = 'disabled'
                    end
                    b.label(class: "checkbox", title: b.object.feed_url, data: {sort_name: b.text.downcase}) do
                      b.check_box(options) + b.text
                    end
                  end
                %>
            </div>
        </div>
        <ul class="control-group">
            <%=
                f.collection_check_boxes(:actions, Feedbin::Application.config.action_names, :value, :label) do |b|
                  content_tag :li, data: {behavior: "action_#{b.value}"} do
                    b.check_box + b.label {  "#{b.text} <span class='slider-checkbox'></span>".html_safe }
                  end
                end
            %>
        </ul>
        <ul class="control-group">
            <li>
                <%= f.check_box :apply_action %>
                <%= f.label :apply_action do %>
                    Apply to existing matches <span class="slider-checkbox"></span>
                <% end %>
            </li>
        </ul>
        <div class="description-inset">
            <div class="button-wrap">
                <%= f.submit "Save", name: 'commit', class: "button ui-helper-hidden-accessible" %>
                <% if @action.persisted? %>
                    <%= link_to 'Delete', @action, method: :delete, class: 'button button-secondary' , data: { confirm: 'Are you sure you want to delete this action?' }, style: "position: relative; bottom: -2px;" %>
                <% end %>
                <%= f.submit "View Results", name: 'preview', class: "button button-secondary" %>
                <%= f.submit "Save", name: 'commit', class: "button" %>
            </div>
        </div>
    </div>
<% end %>
