<%= form_for(@action, as: :action_params, remote: true) do |form| %>
    <div class="inset">
        <ul class="control-group no-border">
            <li class="text-label no-border">
                <h4 class="group-header">
                    <%= form.label :title, "Name" %>
                </h4>
                <%= render "shared/input" do %>
                    <%= form.text_field :title %>
                <% end %>
            </li>
        </ul>
        <ul class="control-group no-border">
            <li class="text-label no-border">
                <h4 class="group-header">
                    <%= form.label :query, "Search Terms" %>
                </h4>
                <%= render "shared/input" do %>
                    <%= form.search_field :query, placeholder: 'For example: title:"[Sponsor]"' %>
                <% end %>
            </li>
        </ul>

        <% if @user.taggings.present? %>
            <h4 class="group-header">Article is in Tag</h4>
            <div class="filter-wrap">
                <div class="filter">
                    <ul class="pill-list">
                        <%= form.collection_check_boxes(:tag_ids, @user.feed_tags, :id, :name) do |builder| %>
                            <li>
                                <div class="checkbox">
                                  <%= builder.check_box %>
                                  <%= builder.label do %>
                                      <%= builder.text %>
                                      <%= svg_tag "icon-check" %>
                                  <% end %>
                                </div>
                            </li>
                         <% end %>
                    </ul>
                </div>
            </div>
        <% end %>

        <h4 class="group-header">Article is in Feed</h4>
        <div class="feed-controls-wrap">
            <div class="feed-controls">
                <div class="feed-actions toolbar">

                    <div class="checkbox">
                        <%= form.check_box :all_feeds, id: "include_all_feeds", data: {behavior: 'check_feeds'} %>
                        <label for="include_all_feeds"><%= svg_tag "icon-check" %>Include all</label>
                    </div>


                    <%= render "shared/input", class: "last-control" do %>
                        <input type="text" class="small-field" data-behavior="feed_search" placeholder="Filter" />
                    <% end %>

                </div>
            </div>
        </div>
        <div class="filter-wrap separate-header">
            <div class="filter">
                <ul class="pill-list" data-behavior="search_results">
                    <%= form.collection_check_boxes(:feed_ids, @user.feeds.include_user_title, :string_id, :title) do |builder| %>
                        <li data-sort-name="<%= builder.text.downcase %>">
                            <div class="checkbox">
                              <%= builder.check_box(feed_checkbox_options(form)) %>
                              <%= builder.label title: builder.object.feed_url do %>
                                  <%= builder.text %>
                                  <%= svg_tag "icon-check" %>
                              <% end %>
                            </div>
                        </li>
                     <% end %>
                </ul>
            </div>
        </div>
        <h4 class="group-header">Actions</h4>
        <ul class="control-group">
            <%=
                form.collection_check_boxes(:actions, Feedbin::Application.config.action_names, :value, :label) do |builder|
                  content_tag :li, data: {behavior: "action_#{builder.value}"} do
                    builder.check_box + builder.label {  "#{builder.text} #{toggle_switch}".html_safe }
                  end
                end
            %>
        </ul>
        <h4 class="group-header">Options</h4>
        <ul class="control-group">
            <li>
                <%= form.check_box :apply_action %>
                <%= form.label :apply_action do %>
                    Apply to existing matches <%= toggle_switch %>
                <% end %>
            </li>
        </ul>
        <div class="description-inset">
            <div class="button-wrap">
                <%= form.submit "Save", name: 'commit', class: "button ui-helper-hidden-accessible", tabindex: "-1" %>
                <% if @action.persisted? %>
                    <%= link_to 'Delete', @action, method: :delete, class: 'button button-secondary' , data: { confirm: 'Are you sure you want to delete this action?' } %>
                <% end %>
                <button type="submit" name="preview" class="button button-secondary">View Results</button>
                <button type="submit" name="commit" class="button">Save</button>
            </div>
        </div>
    </div>
<% end %>
