<% if action.title.present? %>
    <p class="no-margin"><strong><%= action.title %></strong></p>
<% end %>
<small class="sub-head">
    <% feed_ids = action.feed_ids.reject{ |feed_id| feed_id.empty? } %>
    <% tag_ids = action.tag_ids.reject{ |tag_id| tag_id.blank? } %>
    If an article is published
    <% if action.query.present? %>
        that matches the search <strong><%= action.query %></strong>
    <% end %>
    <% if action.all_feeds %>
        in <strong>any</strong> feed
    <% elsif feed_ids.present? %>
        in the feed<%= feed_ids.length > 1 ? 's' : '' %> <strong><%= action_feed_names(action) %></strong>
    <% end %>
    <% if tag_ids.present? %>
        in the <%= 'tag'.pluralize(tag_ids.length) %> <strong><%= action_tag_names(action) %></strong>
    <% end %>
    then <%= action_names(action) %>.
</small>
