<h2>Actions</h2>

<p class="muted">Actions can be performed on articles when they are published. Start by writing the keywords to match, just like you would when searching for something. Then select the feeds to include. Finally check the actions you would like to perform on the matched incoming articles.</p>

<%= form_for @user, url: actions_update_user_path(@user), html: {novalidate: 'novalidate'} do |f| %>
  <p class="half-margin"><%= link_to_add_fields "Add Action", f, :actions %></p>
  <table class="table form-table actions-table" data-behavior="add_fields_target">
    <tbody>
      <%= f.fields_for :actions do |builder| %>
        <%= render 'action_fields', f: builder %>
      <% end %>
      <tr>
        <td>
          <%= f.submit 'Save', class: 'button button-primary' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
