<%= component "settings/header" do %>
  Actions
<% end %>

<p class="text-500 mb-4">Actions can be performed on articles when they are published. Start by writing the keywords to match, just like you would when <a href="/help/search-syntax/">searching</a> for something. Then select the feeds to include. Finally check the actions you would like to perform on the matched incoming articles.</p>

<div class="push-options hide" id="push-data" data-website-id="<%= ENV["APPLE_PUSH_WEBSITE_ID"] %>" data-authentication-token="<%= @authentication_token %>" data-web-service-url="<%= @web_service_url %>">
  <div class="push-enable hide">
    <p>Push notifications can be enabled as an action. <a href="#" data-behavior="enable_push">Enable push notifications</a>.</p>
  </div>
  <div class="push-disable hide">
    <p>Push notifications are <span class="highlight-positive">enabled</span>. You can disable them in preferences under Notifications.</p>
  </div>
  <div class="push-disabled hide">
    <p>Push notifications are <span class="highlight-negative">disabled</span>. You can enable them in Safari preferences under Notifications.</p>
  </div>
</div>

<%= link_to "+ Add Action", new_action_path, class: "button button-huge" %>

<% if @actions.find { _1.broken? } %>
  <% @actions.select { _1.broken? }.each do |action| %>
    <%= component "settings/control_group" do |group| %>
      <% group.header do %>
        Saved Actions
      <% end %>

      <% @actions.reject { _1.broken? }.each do |action| %>
        <% group.item do %>
          <%= render partial: "action", locals: {action:} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @actions.find { !_1.broken? } %>
  <%= component "settings/control_group" do |group| %>
    <% group.header do %>
      Saved Actions
    <% end %>

    <% @actions.reject { _1.broken? }.each do |action| %>
      <% group.item do %>
        <%= render partial: "action", locals: {action:} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
