<% @class = 'signup' %>
<div class="signup-wrap pad-bottom">
  <a href="/"><%= render partial: "shared/svg/logo" %></a>

  <h3 class="box-header">Sign Up</h3>
  <div class="box">
    <div data-behavior="stripe_error" class="alert alert-error hide"></div>

    <%= form_for @user, html: { data: { behavior: 'credit_card_form' } } do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-error">
          <%= @user.errors.full_messages.join('. ') %>.
        </div>
      <% end %>

      <% if @user.plan_id %>
        <%= f.hidden_field :plan_id %>
      <% end %>

      <% if @coupon_valid == true %>
        <%= f.hidden_field :coupon_code %>
        <div class="alert alert-success">
          Your coupon gets you a free account.
        </div>
      <% elsif @coupon_valid == false %>
        <div class="alert alert-error">
          Invalid coupon.
        </div>
      <% end %>


      <%= f.hidden_field :stripe_token, data: { behavior: 'stripe_token' } %>

      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>

      <%= f.password_field :password, placeholder: 'Password' %>

      <% if !@coupon_valid && ENV['STRIPE_API_KEY'] %>
        <hr />

        <div class="row">
            <div class="form-wrap">
              <% if @user.stripe_token %>
                <p>Credit card acceptance is pending.</p>
              <% else %>
                <%= render partial: 'shared/credit_card_form' %>
              <% end %>
            </div>
            <div class="promo-wrap">
              <div class="payment-promo">
                <p><a href="https://stripe.com" class="stripe-badge" target="_blank"></a></p>
                <p><small>Payment is handled securely through <a href="https://stripe.com" target="_blank">Stripe</a>. You will not be billed if you cancel within three days.</small></p>
              </div>
            </div>
        </div>

        <hr />

        <div class="clearfix">
          <% Plan.where(price_tier: Feedbin::Application.config.price_tier).where.not(stripe_id: 'free').each do |plan| %>
            <% options = plan.stripe_id =~ /^basic-monthly/ ? {checked: true} : {} %>
            <%= label_tag nil, class: 'radio' do %>
              <%= f.radio_button :plan_id, plan.id, options %>
              <%= number_to_currency(plan.price, precision: 0) %>/<%= plan.name.gsub(/ly$/, '').downcase %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <hr />

      <%= f.submit "Sign up", class: 'button' %>

    <% end %>
  </div>

  <p class="align-center x-large muted">Already have an account? <%= link_to "Log In", login_path %></p>
</div>