<% content_for :head do %>
  <%= javascript_include_tag "https://js.stripe.com/v3/" %>
  <style>
    @font-face {
      font-family: "Inter";
      src: url(<%= font_url("inter-semibold.woff2") %>) format("woff2");
      font-weight: 600;
      font-style: normal;
    }
    @font-face {
      font-family: "Inter";
      src: url(<%= font_url("inter-regular.woff2") %>) format("woff2");
      font-weight: normal;
      font-style: normal;
    }
    * {
      font-family: "Inter";
    }
  </style>
<% end %>

<div class="flex flex-col md:flex-row md:items-stretch antialiased bg-black">
  <div class="min-h-[100vh] basis-[744px] max-w-[744px] bg-white grow shrink-[4] flex justify-center p-8">
    <div class="max-w-[483px] grow flex flex-col relative">
      <a href="/" class="w-full block absolute top-[80px]">
        <%= svg_tag "logo-full", inline: true, class: "w-[120px] h-auto" %>
      </a>

      <div class="grow flex items-center">
        <div class="grow">
          <h1 class="text-4xl md:text-5xl font-bold mb-4 text-black">Sign Up</h1>
          <p class="text-midnight-500 mb-8 text-lg">
            <% if session[:feed_wrangler_token].present? %>
                Howdy, Feed Wrangler! Import your account and get a <%= Feedbin::Application.config.trial_days %>-day free trial.
            <% else %>
                Create your <strong>free <%= Feedbin::Application.config.trial_days %>-day trial</strong> account
            <% end %>
          </p>

          <%= form_for @user, html: { class: "mb-2", data: { behavior: "credit_card_form" }, novalidate: true } do |f| %>
            <% if @user.errors.present? %>
              <div class="alert alert-error">
                <%= @user.errors.full_messages.join('. ') %>.
              </div>
            <% end %>
            <% if @user.coupon_valid %>
              <%= f.hidden_field :coupon_code %>
              <div class="alert alert-success">
                Your coupon gets you a free account.
              </div>
            <% elsif @user.coupon_valid == false %>
              <div class="alert alert-error">
                Invalid coupon.
              </div>
            <% end %>

            <% if @user.plan_id %>
              <%= f.hidden_field :plan_id %>
            <% end %>
            <%= f.hidden_field :stripe_token, data: { behavior: 'stripe_token' } %>

            <div class="mb-4">
              <%= component "form/text_input" do |text| %>
                <% text.input do %>
                  <%= f.email_field :email, autofocus: true, placeholder: "Email", tabindex: 1, class: "peer" %>
                <% end %>
              <% end %>
            </div>

            <div class="mb-6">
              <%= component "form/text_input" do |text| %>
                <% text.input do %>
                  <%= f.password_field :password, placeholder: "Password", tabindex: 2, class: "peer" %>
                <% end %>
              <% end %>
            </div>

            <button type="submit" class="button !block w-full !py-2 !text-lg" tabindex="3">Sign Up</button>
          <% end %>
          <p class="text-lg text-midnight-500 text-center">Already have an account? <%= link_to "Log In", login_path %></p>
        </div>

      </div>
    </div>
  </div>
  <div class="basis-[744px] max-w-[744px] grow shrink-[5] flex items-center justify-center p-8">
    <div class="max-w-[483px] bg-midnight-200 p-8">
      <h2 class="text-white font-bold text-xl mb-8 pb-4 border-b border-midnight-400">What you get</h2>
      <%
        features = [
          {
            title: "RSS",
            description: "Follow your favorite blogs and news sites"
          },
          {
            title: "YouTube",
            description: "Follow your favorite creators"
          },
          {
            title: "Twitter",
            description: "Follow users, searches, and lists; also extract links shared on twitter"
          },
          {
            title: "Newsletters",
            description: "Get newsletters out of the inbox and into Feedbin"
          },
          {
            title: "Airshow app",
            description: "Sync your favorites podcasts across your devices"
          },
          {
            title: "Actions",
            description: "Use actions to help manage incoming articles, newsletters, and tweets"
          },
        ]
        %>
      <ul>
        <% features.each do |feature| %>
          <li class="flex gap-3 mb-8">
            <%= svg_tag "icon-check", class: "fill-blue-600 pt-[9px]" %>
            <div class="text-midnight-600">
              <p class="text-white font-bold ">
                <%= feature[:title] %>
              </p>
              <%= feature[:description] %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render partial: "shared/svg" %>