<%= render Settings::ControlGroupComponent.new class: "mb-14" do |group| %>
  <% group.header do %>
    Your Plan
  <% end %>
  <% group.item do %>
    <%= render Settings::ControlRowComponent.new do |row| %>
      <% row.title do %>
        Prepaid
      <% end %>
      <% row.control do %>
        <% if @user.timed_plan_expired? %>
            <span class="text-red-600">Expired</span>
        <% else %>
            <span><strong class="font-bold">Expires:</strong> <%= @user.expires_at.to_formatted_s(:date) %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% group.description do %>
    You can purchase more time using Feedbin Notifier.
  <% end %>
<% end %>

<%= render partial: "shared/billing/billing_subscribe", locals: {subscribe_title: "Switch to Subscription"} %>

<%= render partial: "shared/billing/payment_history", locals: {limit: 12} %>

<%= render partial: "shared/billing/receipt_info" %>
