<%= form_for @user, url: settings_update_user_path(@user) do |f| %>
  <%= hidden_field_tag :redirect_to, settings_billing_url %>

  <%= render Settings::H2Component.new do %>
    <%= f.label :receipt_info, "Receipt Info" %>
  <% end %>
  <%= render Form::TextInputComponent.new do |text| %>
    <% text.input do %>
      <%= f.text_area :receipt_info, rows: 3, class: "peer" %>
    <% end %>
  <% end %>

  <p class="text-sm text-500 mt-2">This will show up on your receipt. Useful for VAT, address etc&hellip;</p>

  <%= render Settings::ButtonRowComponent.new do %>
    <button type="submit" class="button no-margin">Save Info</button>
  <% end %>

<% end %>