<div class="inset">
    <%= form_for @user, url: settings_update_user_path(@user) do |f| %>
        <div class="inset-content">
            <h4 class="group-header"><%= f.label :receipt_info, "Receipt Info" %></h4>
        </div>
        <%= hidden_field_tag :redirect_to, settings_billing_url %>
        <div class="has-description">
            <ul class="control-group no-border">
                <li class="text no-border">
                    <%= render "shared/input" do %>
                        <%= f.text_area :receipt_info, rows: 3 %>
                    <% end %>
                </li>
            </ul>
            <p class="control-description">This will show up on your receipt. Useful for VAT, address etc&hellip;</p>
            <div class="button-wrap">
                <button type="submit" class="button no-margin">Save Info</button>
            </div>
        </div>
    <% end %>
</div>
