<div class="cc-form-wrap clearfix">
  <%= text_field_tag :card_number, nil, name: nil, data: { stripe: 'number' }, placeholder: 'Card Number', autocompletetype: 'cc-number', :'x-autocompletetype' => 'cc-number', class: 'card-number' %>
  <%= text_field_tag :card_expiration, nil, name: nil, placeholder: 'MM / YY', autocompletetype: 'cc-exp', :'x-autocompletetype' => 'cc-exp', class: 'card-expiration' %>
  <%= text_field_tag :card_code, nil, name: nil, data: { stripe: 'cvc' }, placeholder: 'CVC', autocompletetype: 'cc-csc', :'x-autocompletetype' => 'cc-csc', class: 'card-code' %>
</div>

<div class="ui-helper-hidden-accessible">
  <%= select_tag nil, options_for_select(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']), { id: "card_month" } %>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 10}, {data: {stripe: 'exp-month'}, name: nil, id: "card_year", class: ''} %>
</div>
