<div class="basement-toolbar entry-settings">
    <div class="setting-wrap font-settings">
        <%= form_tag settings_font_path, remote: true do %>
            <%= select_tag "font", options_for_select(Feedbin::Application.config.fonts, @user.font || 'default'), data: {behavior: 'change_font'} %>
        <% end %>
    </div>
    <div class="setting-wrap">
        <%= link_to settings_font_decrease_path, remote: true, method: :post, class: 'button-decrease-font', title: 'Decrease font size', data: {behavior: 'decrease_font'} do %>
            <%= svg_tag 'icon-smaller-text', size: '12x12' %>
        <% end %>
    </div>
    <div class="setting-wrap">
        <%= link_to settings_font_increase_path, remote: true, method: :post, class: 'button-increase-font', title: 'Increase font size', data: {behavior: 'increase_font'} do %>
            <%= svg_tag 'icon-larger-text', size: '25x24' %>
        <% end %>
    </div>
    <div class="setting-wrap mobile-hide">
        <%= link_to settings_entry_width_path, remote: true, method: :post, class: 'button-entry-width', title: 'Toggle width', data: {behavior: 'entry_width'} do %>
            <%= svg_tag 'icon-entry-width-fixed', size: '34x24' %>
            <%= svg_tag 'icon-entry-width-fluid', size: '34x24' %>
        <% end %>
    </div>
    <div class="setting-wrap mobile-hide">
        <div class="button-full-screen" data-behavior="full_screen" title="Toggle full screen">
            <%= svg_tag 'icon-full-screen-open', size: '34x26' %>
            <%= svg_tag 'icon-full-screen-close', size: '34x26' %>
        </div>
    </div>
    <div class="setting-wrap theme-settings">
        <%= link_to settings_theme_path(theme: 'day'), remote: true, method: :post, class: 'theme-button theme-button-day', title: 'Switch to day theme', data: {behavior: 'switch_theme', theme: 'day'} do %>
            <span class="theme-button-inner"></span>
        <% end %>
        <%= link_to settings_theme_path(theme: 'sunset'), remote: true, method: :post, class: 'theme-button theme-button-sunset', title: 'Switch to sunset theme', data: {behavior: 'switch_theme', theme: 'sunset'} do %>
            <span class="theme-button-inner"></span>
        <% end %>
        <%= link_to settings_theme_path(theme: 'dusk'), remote: true, method: :post, class: 'theme-button theme-button-dusk', title: 'Switch to dusk theme', data: {behavior: 'switch_theme', theme: 'dusk'} do %>
            <span class="theme-button-inner"></span>
        <% end %>
        <%= link_to settings_theme_path(theme: 'midnight'), remote: true, method: :post, class: 'theme-button theme-button-midnight', title: 'Switch to midnight theme', data: {behavior: 'switch_theme', theme: 'midnight'} do %>
            <span class="theme-button-inner"></span>
        <% end %>
    </div>
</div>
