<div class="basement-toolbar feed-settings">
    <div class="toolbar-item">
        <%= form_for entry.feed, remote: true, url: feed_rename_path(entry.feed_id), autocomplete: 'off' do |f| %>
            <%= f.text_field :title, placeholder: entry.feed.original_title, namespace: entry.feed_id, spellcheck: false, data: {behavior: 'user_title', feed_id: entry.feed_id} %>
        <% end %>
    </div>
    <div class="toolbar-item toolbar-tag">
        <%= form_for entry.feed, remote: true, html: {data: {behavior: 'tags_form'} } do |f| %>
            <%= text_field_tag 'feed[tag_list]', '', autocomplete: 'off', placeholder: 'Tags', data: {behavior: "tag_name_target", feed_id: entry.feed_id} %>
        <% end %>
    </div>
    <%= link_to "Visit", entry.feed.site_url, class: "toolbar-item", target: "_blank", rel: 'noopener' %>
    <%= link_to "Unsubscribe", feed_destroy_subscription_url(entry.feed), class: "toolbar-item danger", method: :delete, remote: true, data: { confirm: "Are you sure you want to unsubscribe from #{entry.feed.title}?" } %>
</div>
<script>
var feedId = <%= entry.feed_id %>;
if (feedId in feedbin.count_data.tag_map) {
    var tagNames = [];
    $.each(feedbin.count_data.tag_map[feedId], function(index, tagId) {
        tagNames.push(feedbin.data.tagNames[tagId]);
    });
    $("[data-behavior~=tag_name_target]").val(tagNames.join(", "));
}
</script>