<div class="settings-nav">
  <a href="/" class="logo"><%= render partial: 'shared/svg/logo' %></a>
  <ul class="nav">
    <li class="desktop-hide"><%= link_to 'Feedbin', '/' %></li>
    <li><%= link_to 'Settings', settings_path, class: is_active?('settings', 'settings') %></li>
    <li><%= link_to 'Appearance', settings_appearance_path, class: is_active?('settings', 'appearance') %></li>
    <li><%= link_to 'Subscriptions', settings_subscriptions_path, class: is_active?(['settings/subscriptions'], ['index', 'edit']) %></li>
    <li><%= link_to 'Actions', actions_path, class: is_active?('actions', ['index', 'new', 'edit']) %></li>
    <li><%= link_to 'Share & Save', sharing_services_path, class: is_active?('sharing_services', 'index') %></li>
    <li><%= link_to 'Account', settings_account_path, class: is_active?('settings', 'account') %></li>
    <% if ENV['STRIPE_API_KEY'] %>
        <li><%= link_to 'Billing', settings_billing_path, class: is_active?('settings', 'billing') %></li>
    <% end %>
    <li><%= link_to 'Import & Export', settings_import_export_path, class: is_active?('settings', 'import_export') %></li>
    <% if current_user.try(:admin?) %>
      <li><%= link_to 'Customers', admin_users_path, class: is_active?('admin/users', 'index') %></li>
    <% end %>
  </ul>
  <ul class="nav nav-small">
    <li><a href="/home">Home</a></li>
    <li><a href="http://blog.feedbin.com">Blog</a></li>
    <li><a href="/apps">Apps</a></li>
    <li><a href="https://feedbin.com/help">Help</a></li>
    <li><a href="https://github.com/feedbin/feedbin-api#readme">API</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="mailto:support@feedbin.com">Email</a></li>
    <li class="mobile-hide"><a href="https://twitter.com/feedbin">Twitter</a></li>
  </ul>

  <ul class="nav nav-small">
    <li><%= link_to 'Log Out', logout_path, method: 'delete' %></li>
  </ul>

</div>
