<%= content_tag :ul, class: "control-group no-margin" do  -%>
    <li class="text">
        <%= render "shared/input", class: "tag-input" do %>
            <input placeholder="+ New Tag" type="text" name="tag_name[]">
        <% end %>
    </li>
    <% tag_editor.tags.each do |tag| %>
    <li>
        <%= check_box_tag "tag_id[#{tag.id}]", tag.name, tag_editor.checked?(tag) %>
        <%= label_tag "tag_id[#{tag.id}]" do %>
            <%= tag.name %> <%= toggle_switch %>
        <% end %>
    </li>
    <% end %>
<%- end -%>
