<% present entry do |entry_presenter| %>
<div class="tweet <%= local_assigns[:css] ? css : '' %> <%= entry_presenter.tweet_classes(tweet) %>">
  <header class="tweet-header">
    <%= image_tag entry_presenter.tweet_profile_image_uri(tweet), size: "47x47" %>
    <h1>
        <a href="<%= entry_presenter.tweet_user_url(tweet) %>" target="_blank">
            <%= entry_presenter.tweet_name(tweet) %>
            <span><%= entry_presenter.tweet_screen_name(tweet) %></span>
        </a>
    </h1>
    <p class="post-meta">
      <time datetime="<%= entry_presenter.datetime %>"><%= entry_presenter.published_date %></time>
      <span class="tweet-location">
          <% if entry_presenter.tweet_location %>
              from <%= entry_presenter.tweet_location %>
          <% end %>
      </span>
    </p>

    <%= link_to thread_tweet_path(entry), remote: true, class: "twitter-conversation-link", title: "Show Conversation" do %>
        <%= svg_tag "icon-twitter-conversation" %>
    <% end %>

    <%= link_to tweet.uri.to_s, target: "_blank", title: "View on Twitter", class: "twitter-link", id: "source_link" do %>
        <%= svg_tag "icon-twitter" %>
    <% end %>
  </header>
  <%= entry_presenter.tweet_in_reply_to(tweet) %>
  <p class="tweet-text"><%= entry.tweet_text(tweet) %></p>
</div>
<% end %>

