<div class="<%= user.display_prefs %>">
    <div class="link-header">
        <div class="sticky-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <%= svg_tag 'icon-full-screen-close-small', size: '16x16' %>
            </button>
            <div class="entry-inner">
                <p class="post-meta">
                    <%= favicon_with_host(host) %>
                    <a class="url" href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                </p>
            </div>
        </div>
    </div>
    <div class="entry-inner">
        <div class="placeholder-content">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="spinner"></div>
    </div>
</div>
<%= form_tag(view_link_contents_entries_path, class: 'hide', remote: true, data: {behavior: 'view_link_contents_form'}) do %>
    <%= hidden_field_tag 'url', url %>
<% end %>
<script>
    $('[data-behavior~=view_link_contents_form]').submit()
</script>
