<div class="view-mode">
    <div class="dropdown-wrap dropdown-right view-mode-dropdown" data-behavior="toggle_dropdown view_mode_dropdown">
        <h2 data-behavior="selected_view_mode" class="selected-view-mode">
            <span class="view-mode-unread">Unread</span>
            <span class="view-mode-starred">Starred</span>
            <span class="view-mode-all">All</span>
            <span class="view-mode-icon">
                <%= svg_tag "icon-caret", size: "12x7" %>
            </span>
        </h2>
        <div class="dropdown-content">
            <ul>
                <li data-behavior="change_view_mode" data-view-mode="view_unread" class="view-mode-unread">
                    <span class="no-border with-icon">
                        <i class="favicon-wrap collection-favicon">
                            <%= svg_tag "favicon-unread" %>
                            <%= svg_tag "favicon-unread-active" %>
                        </i>
                        <strong>Unread</strong>
                        <%= svg_tag "icon-settings-check", size: "15x12" %>
                    </span>
                </li>
                <li data-behavior="change_view_mode" data-view-mode="view_starred" class="view-mode-starred">
                    <span class="no-border with-icon">
                        <i class="favicon-wrap collection-favicon">
                            <%= svg_tag "favicon-star" %>
                        </i>
                        <strong>Starred</strong>
                        <%= svg_tag "icon-settings-check", size: "15x12" %>
                    </span>
                </li>
                <li data-behavior="change_view_mode" data-view-mode="view_all" class="view-mode-all">
                    <span class="no-border with-icon">
                        <i class="favicon-wrap collection-favicon">
                            <%= svg_tag "favicon-all" %>
                        </i>
                        <strong>All</strong>
                        <%= svg_tag "icon-settings-check", size: "15x12" %>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <button class="toggle-search" data-behavior="toggle_search"><%= svg_tag "icon-search", size: "16x16" %></button>
</div>