<div class="modal fade" tabindex="-1" role="dialog" id="view_link_wrap" data-behavior="view_link_wrap">
    <div data-behavior="view_link_markup">
        <div class="modal-dialog modal-fluid">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <%= svg_tag 'icon-full-screen-close-small', size: '16x16' %>
                    </button>
                    <div data-behavior="markup_target"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= form_tag(view_link_entries_path, class: 'hide', remote: true, data: {behavior: 'view_link_form'}) do %>
    <%= hidden_field_tag 'url', nil %>
<% end %>
<%= form_tag(view_link_cache_entries_path, class: 'hide', remote: true, data: {behavior: 'view_link_cache_form'}) do %>
    <%= hidden_field_tag 'url', nil %>
<% end %>
