<h2>Account</h2>

<h3>Email</h3>

<%= form_for(@user) do |f| %>

  <%= f.email_field :email, placeholder: 'Email' %>

  <br />

  <%= f.submit "Update", class: 'button' %>
<% end %>

<h3>Update Password</h3>

<%= form_for(@user) do |f| %>

  <%= f.password_field :old_password, placeholder: 'Old Password' %>

  <%= f.password_field :password, placeholder: 'New Password' %>

  <br />

  <%= f.submit "Update", class: 'button' %>
<% end %>

<hr />

<h3>Cancel Account</h3>
<p class="muted">Canceling your account will end your subscription immediately. All of your data will be deleted. <strong>You cannot undo this</strong>.</p>
<p><%= link_to "Cancel Account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: 'button button-danger button-link' %></p>