<%= component "settings/h1" do %>
  Account
<% end %>

<%= form_for(@user, html: {class: "mb-14"}) do |f| %>

  <%= component "settings/h2" do %>
    <%= f.label :email, "Email" %>
  <% end %>

  <%= component "form/text_input" do |text| %>
    <% text.input do %>
      <%= f.email_field :email, placeholder: "Email", class: "peer text-input" %>
    <% end %>
  <% end %>

  <%= component "settings/button_row" do %>
    <button type="submit" class="button">Update</button>
  <% end %>
<% end %>

<%= form_for(@user, html: {class: "mb-14"}) do |f| %>
  <%= component "settings/h2" do %>
    Update Password
  <% end %>

  <div class="mb-4">
    <%= component "form/text_input" do |text| %>
      <% text.label do %>
        <%= f.label :old_password, "Old Password" %>
      <% end %>
      <% text.input do %>
        <%= f.password_field :old_password, class: "peer text-input" %>
      <% end %>
    <% end %>
  </div>

  <%= component "form/text_input" do |text| %>
    <% text.label do %>
      <%= f.label :password, "New Password" %>
    <% end %>
    <% text.input do %>
      <%= f.password_field :password, class: "peer text-input" %>
    <% end %>
  <% end %>


  <%= component "settings/button_row" do %>
    <button type="submit" class="button">Update</button>
  <% end %>
<% end %>

<%= form_for(@user, method: :delete, id: "delete_user", html: {class: "mb-14"}) do |f| %>
  <%= component "settings/h2" do %>
    Cancel Account
  <% end %>

  <p class="mb-4">Canceling your account will end your subscription immediately. All of your data will be deleted. You will receive a confirmation email with your feed subscriptions attached. <strong>You cannot undo this</strong>.</p>

  <% if @last_payment %>
      <%= component "settings/control_group", class: "mb-4" do |group| %>
        <% group.item do %>
          <%= check_box_tag :billing_event_id, Rails.application.message_verifier(:billing_event_id).generate(@last_payment.id), false, class: "peer" %>
          <%= label_tag :billing_event_id, class: "group" do %>
            <%= component "settings/control_row_switch" do |row| %>
              <% row.title do %>
                Also refund my recent <strong><%= number_to_currency((@last_payment.event_object["amount"].to_f / 100), precision: 0) %></strong> payment
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <%= component "settings/button_row" do %>
    <%= f.submit "Cancel Account", class: "button button-secondary", data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
