<% present @user do |user_presenter| %>
    <% @classes = user_presenter.setting_classes %>
    <%= form_for user_presenter, remote: true, url: settings_update_user_path(@user) do |f| %>
        <div class="settings-content-inner">
            <div class="settings-outer">
                <h2>Appearance</h2>
            </div>
            <div class="inset">
                <div class="preview-group">
                    <h4 class="group-header">Preview</h4>
                    <ul class="control-group no-border">
                        <li class="theme-background <%= @classes %> no-border" data-behavior="entries_max_width class_target">
                            <div data-behavior="preview_min_height">
                                <div class="entries-wrap hide-search">
                                    <div class="entries">
                                        <div>
                                            <div data-behavior="responsive_text_size" data-behavior="preview_container" class="entry-summary starred">
                                                <a class="entry-summary-link">
                                                    <div class="feed-title-inline">
                                                        <%= favicon_with_host("foodinjars.com") %>
                                                        <div class="feed-title"><span class="title-inner renamed" data-behavior="user_title" data-feed-id="4">Food in Jars</span></div>
                                                    </div>
                                                    <div class="title-wrap">
                                                        <%= favicon_with_host("foodinjars.com") %>
                                                        <div class="title">Spicy Peach and Yellow Tomato Jam</div>
                                                    </div>
                                                    <div class="summary-content">
                                                        <div class="feed-title"><span class="title-inner renamed" data-behavior="user_title" data-feed-id="4">Food in Jars</span></div>
                                                        <div class="summary light">
                                                            <span class="inline-title">Spicy Peach and Yellow Tomato Jam</span>
                                                            <span class="summary-inner">I made this jam back before my trip to Portland and have been meaning to share it&hellip;</span>
                                                        </div>
                                                        <span class="entry-image is-loaded"><%= image_tag "image-preview.jpg" %></span>
                                                        <div class="summary-status light">
                                                            <time class="time">1h</time>
                                                            <%= svg_tag "icon-retweet", class: "light" %>
                                                            <%= svg_tag "icon-media", class: "light" %>
                                                            <%= svg_tag "icon-star-on" %>
                                                        </div>
                                                    </div>
                                                    <div class="summary-status summary-status-inline light">
                                                        <time class="time">1h</time>
                                                        <%= svg_tag "icon-retweet", class: "light" %>
                                                        <%= svg_tag "icon-media", class: "light" %>
                                                        <%= svg_tag "icon-star-on" %>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="group-header">Display</h4>
                <ul class="control-group">
                    <li>
                        <%= f.radio_button(:entries_display, "block", {checked: @user.entries_display.nil? || @user.entries_display === 'block', data: {behavior: 'appearance_radio auto_submit', setting: 'entries-display'}}) %>
                        <%= f.label :entries_display_block do %>
                            Default <%= radio_button_control %>
                        <% end %>
                    </li>
                    <li>
                        <%= f.radio_button(:entries_display, "inline", {data: {behavior: 'appearance_radio auto_submit', setting: 'entries-display'}}) %>
                        <%= f.label :entries_display_inline do %>
                            Inline <%= radio_button_control %>
                        <% end %>
                    </li>
                </ul>
                <h4 class="group-header">Interface Elements</h4>
                <ul class="control-group">
                    <li>
                        <%= f.check_box :entries_feed, {checked: @user.entries_feed.nil? || @user.setting_on?(:entries_feed), data: {behavior: 'appearance_checkbox auto_submit', setting: 'entries-feed'} } %>
                        <%= f.label :entries_feed do %>
                            Feed <%= toggle_switch %>
                        <% end %>
                    </li>
                    <li>
                        <%= f.check_box :entries_body, {checked: @user.entries_body.nil? || @user.setting_on?(:entries_body), data: {behavior: 'appearance_checkbox auto_submit', setting: 'entries-body'} } %>
                        <%= f.label :entries_body do %>
                            Summary <%= toggle_switch %>
                        <% end %>
                    </li>
                    <li>
                        <%= f.check_box :entries_image, {checked: @user.entries_image.nil? || @user.setting_on?(:entries_image), data: {behavior: 'appearance_checkbox auto_submit', setting: 'entries-image'} } %>
                        <%= f.label :entries_image do %>
                            Media <%= toggle_switch %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    <% end %>
<% end %>
