<h3>Update Billing</h3>
<% if ENV['STRIPE_API_KEY'] %>
  <% if @user.plan.stripe_id == 'trial' %>
    <% if @user.days_left <= 0 %>
      <p>Your trial has ended. Subscribe now to continue using Feedbin.</p>
    <% else %>
      <p>Your trial period will end in <%= pluralize(@user.days_left, 'day') %>. Subscribe now to continue using Feedbin uninterrupted.</p>
    <% end %>

    <div data-behavior="stripe_error" class="alert alert-error hide"></div>
    <%= form_for @user, html: { data: { behavior: 'credit_card_form' } } do |f| %>
      <%= f.hidden_field :stripe_token, data: { behavior: 'stripe_token' } %>
      <%= hidden_field_tag :redirect_to, settings_billing_url %>
      <div class="form-wrap">
        <% if @user.stripe_token %>
          <p>Credit card acceptance is pending.</p>
        <% else %>
          <%= render partial: 'shared/credit_card_form' %>
        <% end %>
      </div>

      <div class="plan-options">
        <% Plan.where(price_tier: Feedbin::Application.config.price_tier).where.not(stripe_id: ['free', 'trial']).each do |plan| %>
          <% options = plan.stripe_id =~ /^basic-monthly/ ? {checked: true} : {} %>
          <%= label_tag nil, class: 'radio' do %>
            <%= f.radio_button :plan_id, plan.id, options %>
            <%= number_to_currency(plan.price, precision: 0) %>/<%= plan.name.gsub(/ly$/, '').downcase %>
          <% end %>
        <% end %>
      </div>

      <%= f.submit "Subscribe", class: 'button', tabindex: 3 %>

    <% end %>
  <% else %>
    <% if @user.last_4_digits %>
      <p class="billing-promo">Your current card **** **** **** <%= @user.last_4_digits %></p>
    <% end %>
    <div data-behavior="stripe_error" class="alert alert-error hide"></div>
    <%= form_tag settings_update_credit_card_path, data: { behavior: 'credit_card_form' } do %>
      <%= hidden_field_tag :stripe_token, nil, data: { behavior: 'stripe_token' } %>
      <%= render partial: 'shared/credit_card_form' %>
      <%= submit_tag "Update", class: 'button' %>
    <% end %>

    <h3>Change your Plan</h3>
    <table class="table table-bordered" style="margin-bottom: 0;">
      <tr>
        <th>Plan</th>
        <th>Price</th>
        <th>&nbsp;</th>
      </tr>
      <% @plans.each do |plan| %>
        <tr>
            <td><%= plan.name %></td>
            <td><%= number_to_currency(plan.price) %>/<%= plan.name %></td>
            <td>
              <% if @user.plan.id == plan.id %>
                Your plan
              <% else %>
                <%= form_tag settings_update_plan_path, data: { behavior: 'change_plan' }, class: 'no-margin' do %>
                  <%= hidden_field_tag 'plan', plan.id %>
                  <%= button_tag 'Switch', data: { confirm: 'Are you sure you want to change plans?' }, class: 'button button-link' %>
                <% end %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </table>

    <p><small>Plan changes are pro-rated.</small></p>

    <h3 class="por">
      Payment History
      <% if @next_payment %>
        <p class="inline-subhead"><small>Next payment: <time datetime="<%= @next_payment.to_s(:date) %>"><%= @next_payment.to_s(:date) %></time></small></p>
      <% end %>
    </h3>

    <table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Receipt</th>
        <th>Amount</th>
      </tr>
      <% @billing_events.each do |invoice| %>
      <tr>
        <td><%= Time.at(invoice.details.data.object.created).to_s(:date) %></td>
        <td><%= link_to 'Receipt', invoice %></td>
        <td><%= invoice.details.data.object.currency.upcase %> <%= number_to_currency(invoice.details.data.object.amount.to_f / 100) %></td>
      </tr>
      <% end %>
    </table>

    <h3 class="no-margin">Receipt Info</h3>
    <p><small>This will show up on your receipt. Useful for VAT, address etc...</small></p>

    <%= form_for @user, url: settings_update_user_path(@user) do |f| %>
      <%= hidden_field_tag :redirect_to, settings_billing_url %>
      <%= f.text_area :receipt_info, rows: 3 %>
      <p><%= f.submit "Save", class: 'button' %></p>
    <% end %>

  <% end %>
<% else %>
  <p>Billing disabled. <code>STRIPE_API_KEY</code> and <code>STRIPE_PUBLIC_KEY</code> are missing.</p>
<% end %>