<% content_for :head do %>
  <%= javascript_include_tag "https://js.stripe.com/v3/" %>
  <%= javascript_tag do %>
      var stripe = Stripe("<%= STRIPE_PUBLIC_KEY %>");
      var elements = stripe.elements();
  <% end %>
<% end %>

<div class="settings-content-inner">
  <div class="settings-outer">
    <h2>Billing</h2>
  </div>


  <% if ENV['STRIPE_API_KEY'] %>
    <% if @user.plan.stripe_id == 'trial' %>
      <div class="settings-outer">
        <% if @user.days_left <= 0 %>
          <p>Your trial has ended. Subscribe now to continue using Feedbin.</p>
        <% else %>
          <p>Your trial period will end in <strong><%= pluralize(@user.days_left, 'day') %></strong>. Subscribe now to continue using Feedbin uninterrupted.</p>
        <% end %>
        <div id="card-errors" role="alert" class="alert alert-error"></div>
      </div>
      <div class="inset">
        <%= form_for @user, id: "payment-form" do |f| %>
          <%= hidden_field_tag :redirect_to, settings_billing_url %>

          <div class="inset-content">
            <h4 class="group-header">Subscribe</h4>
          </div>
          <%= render partial: 'shared/credit_card_form' %>

          <ul class="control-group control-group-form">
          <% @plans.each do |plan| %>
            <li>
              <%
              options = {
                  id: dom_id(plan),
                  data: {behavior: "plan_select"}
              }
              if plan == @default_plan
                  options[:checked] = true
              end
              %>
              <%= f.radio_button :plan_id, plan.id, options %>
              <%= label_tag nil, for: dom_id(plan) do %>
                <%= number_to_currency(plan.price, precision: 0) %>/<%= plan.period %>
              <% end %>
            </li>
          <% end %>
          </ul>

          <% @plans.each do |plan| %>
              <% if @user.trial_end.future? %>
                  <% if plan.name == "Monthly" %>
                      <p class="control-group-description <%= plan == @default_plan ? '' : 'hide' %>" data-behavior="billing_help_text" data-plan-id="<%= dom_id(plan) %>">
                          Clicking subscribe will charge your card <strong><%= number_to_currency(plan.price, precision: 0) %></strong> when your trial ends on <strong><%= @user.trial_end.to_s(:date) %></strong> and again each month thereafter. You can change plans or cancel any time.
                      </p>
                  <% else %>
                      <p class="control-group-description <%= plan == @default_plan ? '' : 'hide' %>" data-behavior="billing_help_text" data-plan-id="<%= dom_id(plan) %>">
                          Clicking subscribe will charge your card <strong><%= number_to_currency(plan.price, precision: 0) %></strong> when your trial ends on <strong><%= @user.trial_end.to_s(:date) %></strong> and again each year thereafter. You can change plans or cancel any time.
                      </p>
                  <% end %>
              <% else %>
                  <% if plan.name == "Monthly" %>
                      <p class="control-group-description <%= plan == @default_plan ? '' : 'hide' %>" data-behavior="billing_help_text" data-plan-id="<%= dom_id(plan) %>">
                          Clicking subscribe will charge your card <strong><%= number_to_currency(plan.price, precision: 0) %></strong> immediately and again each month thereafter. You can change plans or cancel any time.
                      </p>
                  <% else %>
                      <p class="control-group-description <%= plan == @default_plan ? '' : 'hide' %>" data-behavior="billing_help_text" data-plan-id="<%= dom_id(plan) %>">
                          Clicking subscribe will charge your card <strong><%= number_to_currency(plan.price, precision: 0) %></strong> immediately and again each year thereafter. You can change plans or cancel any time.
                      </p>
                  <% end %>
              <% end %>
          <% end %>

          <div class="description-inset">
              <div class="button-wrap">
                  <%= f.submit "Subscribe", class: 'button no-margin', data: { disable_with: false } %>
              </div>
          </div>

        <% end %>
      </div>

    <% else %>
      <div class="settings-outer">
        <div id="card-errors" role="alert" class="alert alert-error"></div>
      </div>

      <div class="inset">
        <%= form_tag settings_update_credit_card_path, id: "payment-form" do %>
          <div class="inset-content">
            <h4 class="group-header">Update Billing Info</h4>
          </div>

          <%= render partial: 'shared/credit_card_form' %>

          <div class="description-inset">
              <div class="button-wrap">
                  <%= submit_tag "Update Billing", class: "button no-margin", data: { disable_with: false } %>
              </div>
          </div>

        <% end %>
      </div>

      <div class="inset">
        <div class="inset-content">
          <h4 class="group-header">Change Your Plan</h4>
        </div>
        <div class="table-wrap">
          <table class="table table-rounded" style="margin-bottom: 0;">
            <% @plans.each do |plan| %>
              <tr>
                <td><%= plan.name %></td>
                <td>
                    <% if plan.stripe_id == "timed" && @user.expires_at %>
                        Expires <%= @user.expires_at.to_s(:date) %>
                    <% else %>
                        <%= number_to_currency(plan.price, precision: 0) %>/<%= plan.period %>
                    <% end %>
                </td>
                <td>
                  <% if @user.plan.id == plan.id %>
                    Your plan
                  <% else %>
                    <%= form_tag settings_update_plan_path, data: { behavior: 'change_plan' }, class: 'no-margin' do %>
                      <%= hidden_field_tag 'plan', plan.id %>
                      <%= button_tag 'Switch to this plan', class: 'button-text' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <p class="control-group-description">Plan changes are pro-rated.</p>

        <div class="inset-content">
          <h4 class="group-header">Payment History</h4>
        </div>
        <div class="table-wrap">
          <table class="table table-rounded">
            <% if @next_payment_date && @user.plan.stripe_id != 'timed' %>
              <tr>
                <td><time datetime="<%= @next_payment_date.to_s(:date) %>"><%= @next_payment_date.to_s(:date) %></time></td>
                <td>&nbsp;</td>
                <td><span class="extra-muted">Scheduled</span></td>
              </tr>
            <% end %>
            <% @billing_events.each do |invoice| %>
            <tr>
              <td><%= invoice.receipt_date %></td>
              <td><%= number_to_currency(invoice.receipt_amount) %> <%= invoice.currency %> <%= invoice.receipt_description %></td>
              <td><%= link_to 'Receipt', invoice %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="inset">
        <div class="inset-content">
          <h4 class="group-header">Receipt Info</h4>
        </div>

        <%= form_for @user, url: settings_update_user_path(@user) do |f| %>
          <%= hidden_field_tag :redirect_to, settings_billing_url %>
          <ul class="control-group control-group-form">
            <li>
              <%= f.text_area :receipt_info, rows: 3 %>
            </li>
          </ul>
          <p class="control-group-description">This will show up on your receipt. Useful for VAT, address etc&hellip;</p>
          <div class="description-inset">
              <div class="button-wrap">
                  <%= f.submit "Save Info", class: "button  no-margin" %>
              </div>
          </div>
        <% end %>
      </div>

    <% end %>
  <% else %>
    <p>Billing disabled. <code>STRIPE_API_KEY</code> and <code>STRIPE_PUBLIC_KEY</code> are missing.</p>
  <% end %>
</div>