<% content_for :head do %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= javascript_include_tag "payments" %>
    <%= render partial: "shared/billing_plans", locals: {plans: @plans, default_plan: @default_plan} %>
<% end %>
<div class="settings-content-inner">
    <div class="settings-outer">
        <h2>Billing</h2>
    </div>
    <% if ENV["STRIPE_API_KEY"] %>
        <% if @user.plan.stripe_id == "trial" %>
            <%= render partial: "shared/billing/billing_subscribe", locals: {subscribe_title: "Plan"} %>
        <% else %>
            <%= render partial: "shared/billing/billing_status" %>
        <% end %>
    <% else %>
        <p>Billing disabled. <code>STRIPE_API_KEY</code> and <code>STRIPE_PUBLIC_KEY</code> are missing.</p>
    <% end %>
</div>
<script>
    $.get("<%= settings_payment_details_path %>");
</script>
