<div class="settings-content-inner-wide">

  <%= form_tag update_multiple_subscriptions_path, method: :patch do %>

    <div class="feed-settings">

      <div class="feed-header">

        <div class="clearfix">
          <div class="half float-right">
            <input type="text" class="feed-search" data-behavior="feed_search" placeholder="Search Feeds" />
          </div>
          <div class="half por">
            <h2>Feeds</h2>
          </div>
        </div>

        <div class="feed-controls clearfix">
          <div class="half text-right float-right">
            <select data-behavior="sort_feeds">
              <option value="name">Sort by name</option>
              <option value="last-updated">Sort by last updated</option>
            </select>
          </div>
          <div class="half por">
            <button class="button">Unsubscribe</button>
            <button class="button">Mute</button>
            <button class="button">Mute</button>
          </div>
        </div>

      </div>


      <ul class="control-group control-group-borders feed-form sortable no-margin"  data-behavior="search_results">
        <% @subscriptions.each do |subscription| %>
          <% present subscription do |subscription_presenter| %>
            <%= fields_for "subscriptions[]", subscription do |f| %>
              <li data-sort-name="<%= subscription.title.downcase %>" data-sort-last-updated="<%= subscription.try(:last_published_entry).try(:to_time).try(:to_i) %>">
                <div class="textfield-wrap">
                  <a href="<%= subscription.feed_url %>" title="Feed URL" class="favicon-container">
                    <%= subscription_presenter.favicon(subscription.host) %>
                  </a>
                  <%= f.text_field :title, placeholder: subscription.original_title %>
                </div>


                <div class="canvas-wrap">
                  <%= content_tag :canvas, '', width: 179, height: 45, data: { values: subscription.entries_count }, title: 'Post frequency' %>
                </div>
                <div class="last-updated-wrap">
                  <%= timeago(subscription.last_published_entry) %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>

    </div>
  <% end %>
</div>