<div class="settings-content-inner por">
  <h2>Feeds</h2>
</div>

<div class="settings-content-inner">


  <%= form_tag update_multiple_subscriptions_path, method: :patch do %>
    <div class="collection-edit-wrapper">
      <div class="inset">
        <div class="feed-controls clearfix">
          <div class="half text-right float-right">
            <select data-behavior="sort_feeds">
              <option value="name">Sort by name</option>
              <option value="last-updated">Sort by last updated</option>
            </select>
          </div>
          <div class="half por">
            <input type="text" class="feed-search" data-behavior="feed_search" placeholder="Search Feeds" />
          </div>
        </div>
        <ul class="control-group feed-form sortable no-margin"  data-behavior="search_results">
          <% @subscriptions.each do |subscription| %>
            <% present subscription do |subscription_presenter| %>
              <%= fields_for "subscriptions[]", subscription do |f| %>
                <li data-sort-name="<%= subscription.title.downcase %>" data-sort-last-updated="<%= subscription.try(:last_published_entry).try(:to_time).try(:to_i) %>">
                  <div class="textfield-wrap">
                    <a href="<%= subscription.feed_url %>" title="Feed URL" class="favicon-container">
                      <%= subscription_presenter.favicon(subscription.host) %>
                    </a>
                    <%= f.text_field :title, placeholder: subscription.original_title %>
                    <%= link_to 'Unsubscribe', settings_destroy_subscription_path(subscription), class: 'delete-subscription danger', method: :delete %>
                  </div>


                  <div class="canvas-wrap">
                    <%= content_tag :canvas, '', width: 179, height: 45, data: { values: subscription.entries_count }, title: 'Post frequency' %>
                  </div>
                  <div class="last-updated-wrap">
                    <%= timeago(subscription.last_published_entry) %>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="collection-edit-controls clearfix">
      <div class="description-inset">
        <%= submit_tag "Save", class: 'button-plain no-top-margin no-margin' %>
      </div>
    </div>

  <% end %>
</div>