<%= form_for @user, remote: true, url: settings_update_user_path(@user) do |f| %>
<div class="settings-content-inner">
    <div class="settings-outer">
        <h2>Newsletters & Pages</h2>
    </div>
    <div class="inset">
        <div class="inset-content">
            <h4 class="group-header">Newsletters</h4>
        </div>
        <ul class="pill-list">
            <li>
                <div class="toolbar">
                    <div>
                        Newsletter Address
                        <p class="control-group-description">
                            Use this address to <a href="https://feedbin.com/blog/2016/02/03/subscribe-to-email-newsletters-in-feedbin/">receive emails</a> in Feedbin.
                        </p>
                    </div>
                    <%= render "shared/input", class: "accessory-right last-control" do %>
                        <input type="text" value="<%= @user.newsletter_address %>" readonly />
                        <button class="accessory right icon" data-behavior="copy" title="Copy to clipboard" data-toggle="tooltip">
                            <%= svg_tag "icon-clipboard" %>
                        </button>
                    <% end %>
                </div>
            </li>
            <li>
                <div class="toolbar">
                    <div>
                        Default Tag
                        <p class="control-group-description">
                            Automatically put incoming newsletters in this tag.
                        </p>
                    </div>
                    <%= render "shared/input", class: "accessory-right last-control" do %>
                        <%= f.select :newsletter_tag, tag_options, {}, {class: "select", data: {behavior: "auto_submit"}} %>
                        <span class="accessory right">
                            <%= svg_tag "icon-caret" %>
                        </span>
                    <% end %>
                </div>
            </li>
        </ul>
    </div>

    <div class="inset">
        <div class="inset-content">
            <h4 class="group-header">Pages</h4>
        </div>
        <ul class="pill-list">
            <li>
                <div class="toolbar">
                    <div>
                        Bookmarklet
                        <p class="control-group-description">
                            Drag this to your bookmarks bar. Use it to <a href="https://feedbin.com/blog/2019/08/20/save-webpages-to-read-later/">save articles from the web</a> to Feedbin.
                        </p>
                    </div>
                    <div class="last-control">
                        <%= render "shared/input", class: "accessory-left accessory-right grabber-wrap" do %>
                            <%= bookmarklet %>
                            <span class="accessory">
                                <%= svg_tag "favicon-saved" %>
                            </span>
                            <span class="accessory right grabber-icon">
                                <%= svg_tag "icon-grabber" %>
                            </span>
                        <% end %>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<% end %>