<%= component "settings/h1" do %>
  Sources
<% end %>

<%= form_for @user, remote: true, url: settings_update_user_path(@user) do |f| %>
  <%= component "settings/control_group", class: "mb-14" do |group| %>
    <% group.header do %>
      Newsletters
    <% end %>
    <% group.item do %>
      <div class="py-4">
        <div class="text-600">
          Newsletter Address
        </div>
        <div class="text-500 text-sm mb-2">
          Use this address to <a href="/blog/2016/02/03/subscribe-to-email-newsletters-in-feedbin/">receive emails</a> in Feedbin.
        </div>

        <%= component "form/text_input" do |text| %>
          <% text.input do %>
            <input type="text" value="<%= @user.newsletter_address %>" readonly class="text-input" />
          <% end %>
          <% text.accessory_trailing_cap position: "trailing" do %>
            <%= button_tag data: {controller: "copyable", action: "copyable#copy", copyable_data_value: @user.newsletter_address, copyable_success_value: false }, class: "px-6 inset-y-0 group" do %>
              <span class="group-data-[copyable-success-value=true]:tw-hidden">Copy</span>
              <span class="group-data-[copyable-success-value=false]:tw-hidden flex items-center gap-2 fill-green-600"><%= svg_tag "icon-check" %> Copied</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% group.item do %>
      <%= component "settings/control_row" do |row| %>
        <% row.title { "Default Tag" } %>
        <% row.description do %>
          Automatically put incoming newsletters in this tag.
        <% end %>
        <% row.control do %>
          <%= component "form/select_input" do |input| %>
            <% input.input do %>
              <%= f.select :newsletter_tag, tag_options, {}, {class: "peer", data: {behavior: "auto_submit"}} %>
            <% end %>
            <% input.accessory_leading do %>
              <%= svg_tag "favicon-tag", class: "fill-500" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= component "settings/control_group", class: "mb-14" do |group| %>
  <% group.header do %>
    Pages
  <% end %>
  <% group.item do %>
    <%= component "settings/control_row" do |row| %>
      <% row.title { "Bookmarklet" } %>
      <% row.description do %>
        Drag this to your bookmarks bar. Use it to <a href="/blog/2019/08/20/save-webpages-to-read-later/">save articles from the web</a> to Feedbin.
      <% end %>
      <% row.control do %>
        <%= link_to bookmarklet, onclick: "return false;", class: "button-secondary cursor-move" do %>
          <%= svg_tag "favicon-saved", class: "fill-500" %>
          Send to Feedbin
          <%= svg_tag "icon-grabber", class: "ml-6 fill-700" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @user.newsletter_senders.exists? %>
  <%= component "settings/expandable" do |expandable| %>
    <% expandable.header do %>
      Advanced
    <% end %>
    <% expandable.description do %>
      <%= component "settings/control_row" do |row| %>
        <% row.title { "Newsletter Senders" } %>
        <% row.description do %>
          These are the senders of newsletters you have received. Feedbin blocks messages from senders that have been deactivated. Reactivate a sender to resubscribe.
        <% end %>
        <% row.control do %>
          <%= button_tag "Show Senders", class: 'button button-secondary', data: {action: "expandable#toggle", toggle_text: "Hide Senders"} %>
        <% end %>
      <% end %>
    <% end %>
    <% @user.newsletter_senders.each do |newsletter_sender| %>
      <% expandable.item do %>
        <%= form_with(model: newsletter_sender, url: newsletter_senders_settings_subscription_path(newsletter_sender.feed_id), namespace: newsletter_sender.feed_id, data: {remote: true}) do |f| %>
          <%= f.check_box :feed_id, {checked: @subscription_ids.include?(newsletter_sender.feed_id), class: "peer", data: {behavior: "auto_submit"}} %>
          <%= f.label :feed_id, class: "group" do %>
            <%= component "settings/control_row_switch" do |row| %>
              <% row.title do %>
                <%= newsletter_sender.name %> <span class="text-500">&lt;<%= newsletter_sender.email %>&gt;</span>
              <% end %>
              <% if newsletter_sender.full_token != newsletter_sender.token %>
                <% row.description do %>
                  Sent to <%= newsletter_sender.full_token %>@newsletters.feedbin.com
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
