<%= form_for @user, remote: true, url: settings_update_user_path(@user) do |f| %>

  <%= component "settings/h1" do %>
    Settings
  <% end %>

  <%= component "settings/control_group", class: "mb-14" do |group| %>
    <% group.header do %>
      Unread Sort
    <% end %>
    <% group.item do %>
      <%= f.radio_button(:entry_sort, "DESC", checked: @user.entry_sort.nil? || @user.entry_sort === 'DESC', class: "peer", data: {behavior: "auto_submit"}) %>
      <%= f.label :entry_sort_desc, class: "group" do %>
        <%= component "settings/control_row_radio" do |row| %>
          <% row.title { "Newest First" } %>
        <% end %>
      <% end %>
    <% end %>
    <% group.item do %>
      <%= f.radio_button(:entry_sort, "ASC", class: "peer", data: {behavior: "auto_submit"}) %>
      <%= f.label :entry_sort_asc, class: "group" do %>
        <%= component "settings/control_row_radio" do |row| %>
          <% row.title { "Oldest First" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= component "settings/control_group", class: "mb-14" do |group| %>
    <% group.header do %>
      Collections
    <% end %>
    <% group.item do %>
      <%= f.check_box :hide_updated, {checked: @user.hide_updated.nil? || !@user.setting_on?(:hide_updated), class: "peer", data: {behavior: "auto_submit"}}, "0", "1" %>
      <%= f.label :hide_updated, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title { "Updated" } %>
        <% end %>
      <% end %>
    <% end %>
    <% group.item do %>
      <%= f.check_box :hide_recently_read, {checked: @user.hide_recently_read.nil? || !@user.setting_on?(:hide_recently_read), class: "peer", data: {behavior: "auto_submit"}}, "0", "1" %>
      <%= f.label :hide_recently_read, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title { "Recently Read" } %>
        <% end %>
      <% end %>
    <% end %>
    <% if @user.recently_played_entries.exists? %>
      <% group.item do %>
        <%= f.check_box :hide_recently_played, {checked: @user.hide_recently_played.nil? || !@user.setting_on?(:hide_recently_played), class: "peer", data: {behavior: "auto_submit"}}, "0", "1" %>
        <%= f.label :hide_recently_played, class: "group" do %>
          <%= component "settings/control_row_switch" do |row| %>
            <% row.title { "Recently Played" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if @user.queued_entries.exists? %>
      <% group.item do %>
        <%= f.check_box :hide_airshow, {checked: @user.hide_airshow.nil? || !@user.setting_on?(:hide_airshow), class: "peer", data: {behavior: "auto_submit"}}, "0", "1" %>
        <%= f.label :hide_airshow, class: "group" do %>
          <%= component "settings/control_row_switch" do |row| %>
            <% row.title { "Airshow" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= component "settings/control_group", class: "mb-14" do |group| %>
    <% group.header do %>
      Features
    <% end %>
    <% group.item do %>
      <%= f.check_box :mark_as_read_confirmation, class: "peer", data: {behavior: "auto_submit"} %>
      <%= f.label :mark_as_read_confirmation, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title {"Ask before marking all as read" } %>
        <% end %>
      <% end %>
    <% end %>
    <% group.item do %>
      <%= f.check_box :show_unread_count, class: "peer", data: {behavior: "auto_submit"} %>
      <%= f.label :show_unread_count, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title { "Unread count in title" } %>
        <% end %>
      <% end %>
    <% end %>
    <% group.item do %>
      <%= f.check_box :sticky_view_inline, class: "peer", data: {behavior: "auto_submit"} %>
      <%= f.label :sticky_view_inline, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title { "Sticky Full Content" } %>
          <% row.description { "Always attempt to load the full content from the original site" } %>
        <% end %>
      <% end %>
    <% end %>
    <% group.item do %>
      <%= f.check_box :starred_feed_enabled, class: "peer", data: {behavior: "auto_submit"} %>
      <%= f.label :starred_feed_enabled, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title { "Starred article feed" } %>
          <% row.description do %>
            <span data-behavior="starred_feed_url" class="overflow-hidden">
                <%= render partial: 'shared/starred_feed_url', locals: {user: @user} %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= component "settings/control_group", class: "mb-14" do |group| %>
    <% group.header do %>
      Advanced
    <% end %>
    <% group.item do %>
      <%= f.check_box :view_links_in_app, {checked: @user.setting_on?(:view_links_in_app), class: "peer", data: {behavior: "auto_submit"}}, "1", "0" %>
      <%= f.label :view_links_in_app, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title {"Always view links in Feedbin" } %>
          <% row.description do %>
            Load article links in Feedbin‘s <a href="/blog/2017/07/25/view-links-in-feedbin/">link viewer</a> by default.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% group.item do %>
        <%= f.check_box :disable_image_proxy, {checked: @user.disable_image_proxy.nil? || !@user.setting_on?(:disable_image_proxy), class: "peer", data: {behavior: "auto_submit"}}, "0", "1" %>
        <%= f.label :disable_image_proxy, class: "group" do %>
        <%= component "settings/control_row_switch" do |row| %>
          <% row.title { "Image proxy" } %>
          <% row.description do %>
            A TLS enabled image proxy is used to prevent <a href="https://developer.mozilla.org/en-US/docs/Security/MixedContent">mixed content</a> warnings. You can turn it off if you experience image loading issues.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
