<div class="service-options-wrap">
    <div class="service-options">
        <%= form_for(record) do |f| %>
            <%= f.hidden_field :service_id, value: sharing_service[:service_id] %>
            <%= f.hidden_field :operation, value: '' %>
            <%= f.text_field :email_name, placeholder: 'Full Name' %>
            <%= f.email_field :email_address, placeholder: 'Reply-To' %>
            <div class="button-wrap">
                <%= button_tag 'Cancel', type: "button", class: 'button button-secondary', data: {behavior: "hide_service_options"} %>
                <%= submit_tag "Save", class: 'button button-primary-plain' %>
            </div>
        <% end %>
    </div>
</div>
