<div class="service-options-wrap">
    <div class="service-options">
        <div class="clearfix">
            <div class="half">
                <%= form_for(record) do |f| %>
                    <%= f.hidden_field :service_id, value: sharing_service[:service_id] %>
                    <%= f.hidden_field :operation, value: '' %>
                    <%= f.text_field :kindle_address, placeholder: 'Kindle Email Address', class: 'no-margin' %>
                    <div class="button-wrap">
                        <%= button_tag 'Cancel', type: "button", class: 'button button-secondary button-inline', data: {behavior: "hide_service_options"} %>
                        <%= submit_tag "Save", class: 'button button-primary-plain' %>
                    </div>
                <% end %>
            </div>
            <div class="half">
                <small class="share-help"><strong>How to activate:</strong> Add <em>kindle@feedbin.com</em> to your <a href="https://www.amazon.com/gp/digital/fiona/manage?&amp;#pdocSettings">Approved Personal Document E-mail List</a>. You can get your Kindle email address from the <a href="https://www.amazon.com/gp/digital/fiona/manage?&amp;#manageDevices">Manage your devices</a> page.</small>
            </div>
        </div>
    </div>
</div>
