<%= render App::ShareFormComponent.new title: "Post to Micro.blog", icon: "icon-share-micro_blog" do %>
  <%= form_tag("", remote: true) do %>

    <div class="mb-4">
      <%= render Form::TextInputComponent.new do |text| %>
        <% text.label do %>
          <label for="micro_blog_title">Title</label>
        <% end %>
        <% text.input do %>
          <%= text_field_tag :name, "", placeholder: "optional", class: "title-placeholder peer text-input", id: "micro_blog_title" %>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= render Form::TextInputComponent.new do |text| %>
        <% text.label do %>
          <label for="micro_blog_description">Description</label>
        <% end %>
        <% text.input do %>
          <%= text_area_tag :content, "", rows: 5, class: "description-placeholder peer text-input", id: "micro_blog_description" %>
        <% end %>
      <% end %>
    </div>

    <%= render Settings::ButtonRowComponent.new do %>
      <%= button_tag "Cancel", type: "button", class: "button button-secondary", data: {behavior: "close_entry_basement"} %>
      <%= button_tag "Post", type: "submit", class: "button" %>
    <% end %>

  <% end %>
<% end %>
