<div class="share-form">
    <div class="share-form-inner icon-share-pinboard">
        <div class="sharing-header">
            <h2>Save to Pinboard</h2>
            <%= svg_tag "icon-share-pinboard" %>
        </div>
        <%= form_tag("", remote: true) do %>
            <%= hidden_field_tag :url, "", class: "url-placeholder" %>
            <div class="field-cluster">
                <div class="input-group-wrap">
                    <label for="pinboard_title">Title</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :description, "", class: "title-placeholder", id: "pinboard_title" %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="pinboard_description">Description</label>
                    <%= render "shared/input" do %>
                        <%= text_area_tag :extended, "", rows: 5, class: "description-placeholder", id: "pinboard_description" %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="pinboard_tags">Tags</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :tags, "", placeholder: "space separated", id: "pinboard_tags" %>
                    <% end %>
                </div>
            </div>
            <div class="sharing-controls">
                <div class="checkbox">
                    <%= check_box_tag :shared, "no" %>
                    <label for="shared"><%= svg_tag "icon-check" %>Private</label>
                </div>
                <div class="checkbox">
                    <%= check_box_tag :toread, "yes" %>
                    <label for="toread"><%= svg_tag "icon-check" %>Read Later</label>
                </div>
            </div>
            <div class="button-wrap">
                <%= button_tag "Cancel", type: "button", class: "button button-secondary", data: {behavior: "close_entry_basement"} %>
                <%= button_tag "Send", type: "submit", class: "button" %>
            </div>
        <% end %>
    </div>
</div>
