<div class="share-form">
    <div class="share-form-inner icon-share-micro-blog">
        <div class="share-header">
            <h2>Post to Micro.blog</h2>
            <%= svg_tag "icon-share-micro_blog" %>
        </div>
        <%= form_tag("", remote: true) do %>
            <div class="field-cluster">
                <div class="input-group-wrap">
                    <label for="micro_blog_title">Title</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :name, "", placeholder: "optional", class: "title-placeholder", id: "micro_blog_title" %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="micro_blog_description">Description</label>
                    <%= render "shared/input" do %>
                        <%= text_area_tag :content, "", rows: 5, class: "description-placeholder", id: "micro_blog_description" %>
                    <% end %>
                </div>
            </div>
            <div class="button-wrap">
                <%= button_tag "Cancel", type: "button", class: "button button-secondary", data: {behavior: "close_entry_basement"} %>
                <%= button_tag "Send", type: "submit", class: "button" %>
            </div>
        <% end %>
    </div>
</div>
