<div class="share-form">
    <div class="share-form-inner icon-share-tumblr">
        <div class="share-header">
            <h2>Post <span class="type-text">Link</span> to Tumblr</h2>
            <%= svg_tag "icon-share-tumblr" %>
        </div>
        <%= form_tag("", remote: true) do %>
            <%= hidden_field_tag :url, "", class: "url-placeholder" %>
            <div class="field-cluster">
                <div class="input-group-wrap" class="title-placeholder-wrap">
                    <label for="tumblr_title">Title</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :title, "", class: "title-placeholder", id: "tumblr_title" %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="tumblr_description">Description</label>
                    <%= render "shared/input" do %>
                        <%= text_area_tag :description, "", rows: 5, class: "description-placeholder", id: "tumblr_description" %>
                    <% end %>
                </div>
                <div class="input-group-wrap" class="source-placeholder-wrap hide">
                    <label for="tumblr_source">Source</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :source, "", class: "source-placeholder", id: "tumblr_source" %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="tumblr_tags">Tags</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :tags, "", placeholder: "comma separated", id: "tumblr_tags" %>
                    <% end %>
                </div>
            </div>
            <div class="share-controls">
                <div class="input-group-wrap">
                    <label for="type">Type</label>
                    <%= render "shared/input" do %>
                        <select id="type" name="type" data-behavior="tumblr_type" class="select">
                            <option selected="selected" value="link" data-description-name="Description">Link</option>
                            <option value="quote" data-description-name="Quote">Quote</option>
                        </select>
                        <span class="accessory right">
                            <%= svg_tag "icon-caret" %>
                        </span>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="format">Format</label>
                    <%= render "shared/input" do %>
                        <%= select_tag "format", options_for_select({"Markdown" => "markdown", "HTML" => "html"}, "markdown"), class: "select" %>
                        <span class="accessory right">
                            <%= svg_tag "icon-caret" %>
                        </span>
                    <% end %>
                </div>
                <% if service.service_options.present? %>
                    <div class="input-group-wrap">
                        <label for="site">Site</label>
                        <%= render "shared/input" do %>
                            <%= select_tag "site", options_for_select(service.service_options, service.default_option), class: "select" %>
                            <span class="accessory right">
                                <%= svg_tag "icon-caret" %>
                            </span>
                        <% end %>
                    </div>
                <% end %>
                <div class="input-group-wrap">
                    <label for="state">Status</label>
                    <%= render "shared/input" do %>
                        <%= select_tag "state", options_for_select({"Published" => "published", "Draft" => "draft", "Queue" => "queue", "Private" => "private"}, "published"), class: "select" %>
                        <span class="accessory right">
                            <%= svg_tag "icon-caret" %>
                        </span>
                    <% end %>
                </div>
            </div>
            <div class="button-wrap">
                <%= button_tag "Cancel", type: "button", class: "button button-secondary", data: {behavior: "close_entry_basement"} %>
                <%= submit_tag "Post", class: "button" %>
            </div>
        <% end %>
    </div>
</div>
