<div class="share-form">
    <div class="share-form-inner icon-share-pinboard">
        <h2>Save to Pinboard</h2>
        <%= form_tag('', remote: true) do %>
            <%= hidden_field_tag :url, '', class: 'url-placeholder' %>
            <div class="field-cluster">
                <%= text_field_tag :description, '', placeholder: 'Title', class: 'title-placeholder' %>
                <%= text_area_tag :extended, '', rows: 5, placeholder: 'Description', class: 'description-placeholder' %>
                <%= text_field_tag :tags, '', placeholder: 'Tags (space separated)' %>
            </div>
            <div class="share-controls">
                <label class="checkbox">
                    <%= check_box_tag :shared, 'no' %> Private
                </label>
                <label class="checkbox">
                    <%= check_box_tag :toread, 'yes' %> Read Later
                </label>
            </div>
            <div class="button-wrap">
                <%= button_tag "Cancel", type: "button", class: 'button button-secondary', data: {behavior: 'close_entry_basement'} %>
                <%= submit_tag "Save", class: 'button' %>
            </div>
        <% end %>
    </div>
</div>
