<div class="share-form">
    <div class="share-form-inner icon-share-email">
        <h2>Send Article via Email</h2>
        <%= form_tag('', remote: true) do %>
            <%= hidden_field_tag :readability, 'off', class: 'readability-placeholder' %>
            <div class="field-cluster">
                <div class="autocomplete-parent" data-behavior="autocomplete_parent">
                    <%= text_field_tag :to, '', placeholder: 'To', data: {behavior: 'autocomplete_field', autocomplete_path: autocomplete_supported_sharing_service_path(service)} %>
                    <div class="share-autocomplete" data-behavior="autocomplete_target"></div>
                </div>
                <%= text_field_tag :subject, '', placeholder: 'Subject', class: 'title-placeholder' %>
                <%= text_area_tag :body, '', rows: 5, class: 'description-placeholder' %>
            </div>
            <div class="button-wrap">
                <%= button_tag "Cancel", type: "button", class: 'button button-secondary', data: {behavior: 'close_entry_basement'} %>
                <%= submit_tag "Send", class: 'button' %>
            </div>
        <% end %>
    </div>
</div>
