<div class="share-form">
    <div class="share-form-inner icon-share-mastodon">
        <div class="sharing-header">
            <h2>Post to Mastodon</h2>
            <%= svg_tag "icon-share-mastodon" %>
        </div>
        <%= form_tag("", remote: true) do %>
            <div class="field-cluster">
                <div class="input-group-wrap">
                    <label for="mastodon_status">Status</label>
                    <%= render "shared/input" do %>
                        <%= text_area_tag :status, "", class: "combined-placeholder", id: "mastodon_status", rows: 4 %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="mastodon_spoiler_text">Content Warning</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :spoiler_text, "", placeholder: "optional", id: "mastodon_spoiler_text" %>
                    <% end %>
                </div>
            </div>
            <div class="sharing-controls">
                <div class="input-group-wrap">
                    <label for="mastodon_visibility">Visibility</label>
                    <%= render "shared/input" do %>
                        <%= select_tag "visibility", options_for_select({"Public" => "public", "Unlisted" => "unlisted", "Followers only" => "private", "Mentioned people only" => "direct"}), class: "select", id: "mastodon_visibility" %>
                        <span class="accessory right">
                            <%= svg_tag "icon-caret" %>
                        </span>
                    <% end %>
                </div>
            </div>
            <div class="button-wrap">
                <%= button_tag "Cancel", type: "button", class: "button button-secondary", data: {behavior: "close_entry_basement"} %>
                <%= button_tag "Post", type: "submit", class: "button" %>
            </div>
        <% end %>
    </div>
</div>
