<%= render App::ShareFormComponent.new title: "Save to Evernote", icon: "icon-share-evernote" do %>
  <%= form_tag("", remote: true) do %>
    <%= hidden_field_tag :readability, "off", class: "readability-placeholder" %>

    <div class="mb-4">
      <%= render Form::TextInputComponent.new do |text| %>
        <% text.label_content do %>
          <label for="evernote_title">Title</label>
        <% end %>
        <% text.input do %>
          <%= text_field_tag :title, "", class: "title-placeholder peer text-input", id: "evernote_title" %>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= render Form::TextInputComponent.new do |text| %>
        <% text.label_content do %>
          <label for="evernote_tags">Tags</label>
        <% end %>
        <% text.input do %>
          <%= text_field_tag :tags, "", class: "peer text-input", placeholder: "Tags (comma separated)", id: "evernote_tags" %>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= render Form::SelectInputComponent.new do |text| %>
        <% text.label_content do %>
          <label for="evernote_notebook">Notebook</label>
        <% end %>
        <% text.input do %>
          <%= select_tag "notebook_guid", options_for_select(service.service_options, service.default_option), class: "peer", id: "evernote_notebook" %>
        <% end %>
      <% end %>
    </div>

    <%= render Settings::ButtonRowComponent.new do %>
      <%= button_tag "Cancel", type: "button", class: "button button-secondary", data: {behavior: "close_entry_basement"} %>
      <%= button_tag "Save", type: "submit", class: "button" %>
    <% end %>
  <% end %>
<% end %>
