<% if status == :active %>
    <div class="service-header">
        <%= render partial: "supported_sharing_services/delete_supported_service", locals: {sharing_service: sharing_service} %>
    </div>
<% elsif status == :issue %>
    <div class="service-header">
        <p class="service-title"><span class="service-error"><%= sharing_service.label %></span></p>
        <small class="show-service-options pad-top">Feedbin can no longer access <%= sharing_service.label %>, <%= link_to 'reactivate', supported_sharing_service_path(sharing_service, supported_sharing_service: {operation: 'authorize'}), method: :patch %>?</small>
        <%= link_to 'Deactivate', supported_sharing_service_path(sharing_service), class: 'list-action show-service-options button-text-secondary', method: :delete %>
    </div>
<% else %>
    <div class="service-header">
        <p class="service-title"><%= sharing_service[:label] %></p>
        <%= link_to 'Activate', supported_sharing_services_path(supported_sharing_service: {service_id: sharing_service[:service_id], operation: 'authorize'}), class: 'list-action', method: :post %>
    </div>
<% end %>
