<% if status == :active %>
  <%= render partial: "supported_sharing_services/delete_supported_service", locals: {sharing_service: sharing_service} %>
<% elsif status == :issue %>
  <p class="service-title"><%= sharing_service.label %></p>
  <small class="show-service-options">Feedbin can no longer access <%= sharing_service.label %>, <a href="#" data-behavior="show_service_options">reactivate</a>?</small>
  <%= link_to 'Deactivate', supported_sharing_service_path(sharing_service), class: 'list-action danger show-service-options', method: :delete %>
  <%= render partial: "supported_sharing_services/xauth_form", locals: {sharing_service: sharing_service, record: record} %>
<% else %>
  <p class="service-title"><%= sharing_service[:label] %></p>
  <%= link_to 'Activate', '#', class: 'list-action show-service-options', data: {behavior: "show_service_options"} %>
  <%= render partial: "supported_sharing_services/xauth_form", locals: {sharing_service: sharing_service, record: record} %>
<% end %>
