<div class="service-header">
    <div>
        <%= render partial: "supported_sharing_services/header", locals: {sharing_service: sharing_service} %>
        <% if status == :issue %>
            <p class="control-group-description">Feedbin can no longer access <%= sharing_service.label %>, <%= link_to 'reactivate', supported_sharing_service_path(sharing_service, supported_sharing_service: {operation: 'authorize'}), method: :patch %>?</p>
        <% end %>
    </div>
    <div class="last-control button-wrap-inline">
        <% if status == :active %>
            <%= render partial: "supported_sharing_services/delete_supported_service", locals: {editable: false, sharing_service: sharing_service} %>
        <% elsif status == :issue %>
            <%= render partial: "supported_sharing_services/delete_supported_service", locals: {editable: false, sharing_service: sharing_service} %>
        <% else %>
            <%= link_to 'Activate', supported_sharing_services_path(supported_sharing_service: {service_id: sharing_service[:service_id], operation: 'authorize'}), class: 'button button-secondary', method: :post %>
        <% end %>
    </div>
</div>
