<div class="service-header">
    <div>
        <%= render partial: "supported_sharing_services/header", locals: {sharing_service: sharing_service} %>
        <% if status == :issue %>
            <p class="control-group-description">Feedbin can no longer access <%= sharing_service.label %>, <a href="#" data-behavior="toggle_service_options">reactivate</a>?</p>
        <% end %>
    </div>
    <div class="last-control button-wrap-inline">
        <% if status == :active %>
            <%= render partial: "supported_sharing_services/delete_supported_service", locals: {sharing_service: sharing_service} %>
        <% elsif status == :issue %>
            <%= render partial: "supported_sharing_services/delete_supported_service", locals: {sharing_service: sharing_service} %>
        <% else %>
            <%= button_tag 'Activate', class: 'button button-secondary', data: {behavior: "toggle_service_options"} %>
        <% end %>
    </div>
</div>