<?xml version="1.0" encoding ="UTF-8" ?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
        <head>
            <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
            <dc:title><%= entry.title %></dc:title>
        </head>
        <body>
            <h1><%= link_to strip_tags(entry.title), entry.fully_qualified_url %></h1>
            <p>
                <%= strip_tags(entry.feed.title) %>
                <br />
                <%= entry.published.to_s(:full_human) %>
            </p>
            <%= raw(content) %>
        </body>
    </html>
