<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="color-scheme" content="light dark">
        <meta name="supported-color-schemes" content="light dark">
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            * {
                font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
            }
            img {
                text-decoration:none;
                -ms-interpolation-mode: bicubic;
                outline:none;
                width: auto!important;
                max-width: 100%;
                height: auto!important;
                clear: both;
                margin: 0 0 10px 0;
                display: block;
                border: 0;
            }
            body {
                -webkit-font-smoothing: antialiased;
                min-width: 100%;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                margin: 0;
                padding: 0;
                color: #0D1623;
                font-size: 17px;
            }
            blockquote {
                padding: 0 0 0 15px;
                border-left: 2px solid #E9E9EB;
            }
            a {
                color: #0867E2;
            }
            hr {
                border: 0;
                height: 1px;
                background: #E9E9EB;
                margin: 25px 0;
            }
            h1, h2, h3, h4, h5, h6 {
                font-weight: bold;
                font-style: normal;
                margin: 0 0 8px 0;
            }
            h1, h2 {
                font-size: 20px;
            }
            h3, h4, h5, h6 {
                font-size: 18px;
            }
            p, ul, ol {
                margin-bottom: 16px;
                font-weight: normal;
                line-height: 1.6;
            }
            p.pre {
                line-height: 1.4;
                white-space: pre-wrap;
                font-size: 18px;
            }
            p.last {
                margin-bottom: 0px;
            }
            ul li,
            ol li {
                margin-left: 5px;
                list-style-position: inside;
            }
            pre code {
                display: block;
                white-space: pre-wrap;
                font-family: monospace;
                font-size: 16px;
                margin-bottom: 16px;
            }
            iframe {
                display: none !important;
            }
            .container {
                display: block !important;
                max-width: 600px !important;
                margin: 0 auto !important;
                clear:both !important;
            }
            .content {
                padding: 16px;
                max-width: 600px;
                margin: 0 auto;
                display: block;
            }
            .smaller {
                font-size: 16px;
                color: #707680;
            }
            @media (prefers-color-scheme: dark) {
                body {
                    background: #262626 !important;
                    color: #D4D4D4 !important;
                }
                blockquote {
                    border-left-color: #353535 !important;
                }
                hr {
                    background: #353535 !important;
                }
                a {
                    color: #FFF !important;
                }
                .smaller {
                    color: #8C8C8C !important;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <% if @message.present? %>
                    <p class="pre"><%= @message %></p>
                    <hr />
                <% end %>
                <h1><%= link_to strip_tags(@entry.title), @entry.fully_qualified_url  %></h1>
                <p class="smaller">
                    <%= strip_tags(@entry.feed.title) %>
                    <br />
                    <%= @entry.published.to_s(:full_human) %>
                </p>
                <%= raw(ContentFormatter.api_format(@content, @entry)) %>
            </div>
        </div>
    </body>
</html>
