<div class="modal fade">
    <%= form_for :subscription, url: subscriptions_path, remote: true, html: { data: {choice_form: true} } do |f| %>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Pick your feeds</h4>
                </div>
                <div class="modal-body">
                    <p>This website has multiple feed options. Select the feeds you’re interested in.</p>
                    <% options.each do |option| %>
                        <label class="checkbox" title="<%= option.href %>">
                            <%= check_box_tag "subscription[feeds][feed_url][]", option.href %> <%= option.title %>
                        </label>
                    <% end %>
                </div>
                <div class="modal-footer">
                    <button class="button" data-dismiss="modal" aria-hidden="true">Close</button>
                    <%= f.submit 'Subscribe', class: 'button-button', style: 'margin-left: 10px;' %>
                </div>
            </div>
        </div>
    <% end %>
</div>
