<% present subscription do |subscription_presenter| %>
    <div class="modal-wrapper">
        <%= form_for(subscription, remote: true, method: :patch, html: {class: 'settings', data: {behavior: "disable_on_submit"}}) do |f| %>
            <% content_for :modal_content do %>
                <div class="modal-header-input">
                    <%= f.text_field :title, placeholder: subscription.feed.title, data: {behavior: "autofocus"} %>
                    <span class="icon"><%= svg_tag "favicon-feeds", size: "16x16" %></span>
                    <span class="icon favicon-icon"><%= subscription_presenter.favicon(subscription.feed) %></span>
                </div>
            <% end %>

            <% content_for :modal_body do %>
                <div class="inset">
                    <div class="inset-content">
                        <h4 class="group-header">Tags</h4>
                    </div>
                    <%= render partial: "shared/tag_fields", locals: {tag_editor: tag_editor} %>
                </div>
            <% end %>

            <% content_for :modal_footer do %>
                <%= link_to subscription_path(subscription), method: :delete, remote: true, class: "button-text delete-button", data: { confirm: "Are you sure you want to unsubscribe?" } do %>
                    <%= svg_tag "icon-delete", size: "13x16" %> Unsubscribe
                <% end %>

                <button type="button" class="button button-secondary" data-dismiss="modal" aria-label="Cancel">Cancel</button>
                <input type="submit" class="button" value="Save">
            <% end %>

            <%= render template: "layouts/modal_inner", locals: {purpose: "edit"} %>
        <% end %>
    </div>
<% end %>
