<% present subscription do |subscription_presenter| %>
    <%= form_for(subscription, remote: true, method: :patch, html: {class: 'settings', data: {behavior: "edit_tags_form"}}) do |f| %>
        <div class="inset">
            <div class="inset-content">
                <ul class="control-group">
                    <li>
                        <div class="subscription-title-wrap">
                            <div class="field-wrap">
                                <%= f.text_field :title, class: 'subscription-title', placeholder: subscription.feed.title, class: 'subscription-title' %>
                                <%= subscription_presenter.favicon(subscription.feed) %>
                            </div>
                            <%= link_to "Unsubscribe", settings_subscription_path(subscription), method: :delete, class: "button button-secondary settings-unsubscribe", data: { confirm: "Are you sure you want to unsubscribe?" } %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="inset-content">
                <h4 class="group-header">Tags</h4>
            </div>
            <%= render partial: "tag_fields", locals: {tag_editor: tag_editor} %>
        </div>
        <button class="hide" type="submit"></button>
    <% end %>
<% end %>
