<%= form_tag subscriptions_path, method: :post, remote: true, data: {behavior: "subscription_options"} do %>
  <%
  verifier = ActiveSupport::MessageVerifier.new(Feedbin::Application.config.secret_key_base)
  valid_feed_ids = verifier.generate(feeds.map(&:id))
  %>
  <%= hidden_field_tag "valid_feed_ids", valid_feed_ids %>
  <% feeds.each_with_index do |feed, index| %>
    <%= fields_for "feeds[]", feed do |pf| %>
      <div class="subscription-option">
        <div class="title">
          <%= pf.text_field :title, placeholder: feed.title %>
          <p class="feed-url" title="Feed URL"><%= feed.feed_url %></p>
        </div>
        <div class="autocomplete-parent category" data-behavior="selected_category autocomplete_parent">
            <%= pf.text_field :tags, placeholder: "Tags", data: {behavior: 'autocomplete_field', autocomplete_path: tags_path} %>
            <div class="subscribe-tags-autocomplete" data-behavior="autocomplete_target"></div>
        </div>
        <div class="action">
          <div class="check-toggle">
            <%= pf.check_box :subscribe, checked: index == 0 ? true : false, data: {behavior: "check_toggle"} %>
            <%= pf.label :subscribe, class: "button button-bordered" do %>
              <span class="off"><%= svg_tag 'icon-plus', size: '12x12' %></span>
              <span class="on"><%= svg_tag 'icon-check', size: '15x12' %></span>
            <% end %>
          </div>
        </div>
        <p class="feed-url" title="Feed URL"><%= feed.feed_url %></p>
      </div>
     <% end %>
  <% end %>
  <%= submit_tag("Submit", class: "visually-hidden", data: {behavior: "submit_add"}) %>
<% end %>
