<%= form_tag({controller: "feeds", action: "search"}, method: :post, remote: true, class: "settings", data: {behavior: "subscription_options feed_password_form"}) do %>
    <%= hidden_field_tag :q, feed_url %>
    <div class="inset">
        <p class="extra-muted password-message">This feed is protected. Enter your username and password to continue.</p>
        <div class="inset-content">
            <div class="stacked-form">
                <div class="input-group-wrap">
                    <label for="basic_username">Username</label>
                    <%= render "shared/input" do %>
                        <%= text_field_tag :username, "", id: "basic_username" %>
                    <% end %>
                </div>
                <div class="input-group-wrap">
                    <label for="basic_password">Password</label>
                    <%= render "shared/input" do %>
                        <%= password_field_tag :password, "", id: "basic_password" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <%= submit_tag("Submit", class: "visually-hidden", tabindex: "-1", data: {behavior: "submit_add"}) %>
<% end %>
