<%= form_tag({controller: "feeds", action: "search"}, method: :post, remote: true, class: "settings", data: {behavior: "subscription_options feed_password_form"}) do %>
    <%= hidden_field_tag :q, feed_url %>
    <div class="inset">
        <p class="extra-muted password-message">This feed is protected. Enter your username and password to continue.</p>

        <div class="mb-4">
          <%= render Form::TextInputComponent.new do |text| %>
            <% text.label do %>
              <%= label_tag :basic_username, "Username" %>
            <% end %>
            <% text.input do %>
              <%= text_field_tag :username, "", id: "basic_username", class: "peer text-input" %>
            <% end %>
          <% end %>
        </div>

        <%= render Form::TextInputComponent.new do |text| %>
          <% text.label do %>
            <%= label_tag :basic_password, "Password" %>
          <% end %>
          <% text.input do %>
            <%= password_field_tag :password, "", id: "basic_password", class: "peer text-input" %>
          <% end %>
        <% end %>
    </div>
    <%= submit_tag("Submit", class: "visually-hidden", tabindex: "-1", data: {behavior: "submit_add"}) %>
<% end %>
