<%= form_for(@subscription, remote: true) do |f| %>
    <% present @subscription do |subscription_presenter| %>
    <div class="settings-content-inner feed-profile">
        <div class="settings-outer">
            <h2>Feeds</h2>
        </div>
        <div class="inset smooth-top">
            <ul class="control-group">
                <li class="profile-wrap">
                    <div class="left-column">
                        <%= subscription_presenter.favicon(@subscription.feed) %>
                    </div>
                    <div class="right-column">
                        <div class="header clearfix">
                            <div class="half">
                                <h3><a href="<%= @subscription.feed.site_url %>"><%= @subscription.title || @subscription.feed.title %></a></h3>
                                <p class="subhead"><a href="<%= @subscription.feed.feed_url %>"><%= @subscription.feed.feed_url %></a></p>
                            </div>
                            <div class="half">
                                <%= link_to 'Unsubscribe', settings_destroy_subscription_path(@subscription), method: :delete, class: 'button-plain-danger pull-right' , data: { confirm: 'Are you sure you want to unsubscribe?' } %>
                            </div>
                        </div>
                        <div class="chart-wrap">
                            <div class="y-axis">
                                <div class="start"><%= subscription_presenter.graph_max %></div>
                                <div class="middle"><%= subscription_presenter.graph_mid %></div>
                                <div class="end">0</div>
                            </div>
                            <div class="graph-wrap">
                                <div class="graph">
                                  <%= content_tag :canvas, '', data: { values: subscription_presenter.graph_bars, fill: "#dcebff", stroke: "#3399FF", behavior: "resize_graph line_graph" } %>
                                </div>
                                <div class="x-axis">
                                    <div><%= subscription_presenter.graph_date_start %></div>
                                    <div><%= subscription_presenter.graph_date_mid %></div>
                                    <div><%= subscription_presenter.graph_date_end %></div>
                                </div>
                            </div>
                        </div>
                        <div class="stats">
                            <div class="stat">
                                <p class="stat-title stat-header">Subscriber Since</p>
                                <p class="stat-body"><%= @subscription.created_at.to_s(:date) %></p>
                            </div>
                            <div class="stat">
                                <p class="stat-title stat-header">Last Updated</p>
                                <p class="stat-body"><%= @subscription.feed.try(:last_published_entry).try(:to_s, :date) || "N/A" %></p>
                            </div>
                            <div class="stat">
                                <p class="stat-title stat-header">Volume</p>
                                <p class="stat-body"><%= subscription_presenter.graph_volume %> articles / month</p>
                            </div>
                        </div>
                        <div class="recent-articles">
                            <p class="stat-header">Recent Articles</p>
                            <ul>
                                <% @subscription.feed.entries.order(published: :desc).limit(3).each do |entry| %>
                                    <% present entry do |entry_presenter| %>
                                        <li><%= entry.published.to_s(:day_month) %>: <a href="<%= entry.fully_qualified_url %>"><%= entry_presenter.title %></a></li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="inset-content">
                <h4 class="group-header">Feed Options</h4>
            </div>
            <ul class="control-group control-group-form">
                <li>
                    <%= f.check_box :muted, data: {behavior: "auto_submit"} %>
                    <%= f.label :muted do %>
                        Muted <span class="slider-checkbox"></span>
                    <% end %>
                </li>
                <li>
                    <%= f.check_box :show_updates, data: {behavior: "auto_submit"} %>
                    <%= f.label :show_updates do %>
                        Show updates <span class="slider-checkbox"></span>
                    <% end %>
                </li>
            </ul>
            <p class="control-group-description">
                Tells you when an article has been changed after being published
            </p>

            <ul class="control-group control-group-form">
                <li>
                    <%= link_to 'Refresh Favicon', refresh_favicon_subscription_path(@subscription), remote: true, method: :post %>
                </li>
            </ul>

        </div>
    </div>
    <% end %>
<% end %>
