<%= component "settings/expandable", class: "mb-4", data: {capsule: true} do |expandable| %>
  <% expandable.description do %>
    <%= component "settings/control_row" do |row| %>
      <% row.icon do %>
        <div class="mt-[2px]">
          <%= favicon_with_host(import_item.host, generated: true) %>
        </div>
      <% end %>
      <% row.title do %>
        <%= link_to import_item.details[:title] || "Untitled", import_item.details[:html_url], target: "_blank", class: "!text-600" %>
      <% end %>

      <% row.description do %>
      <div class="truncate">
        <span class="truncate"><%= short_url(import_item.details[:xml_url]) %></span>
        <br>
        <span class="text-red-600"><%= import_item.human_error %></span>
      </div>
      <% end %>

      <% row.control do %>
        <!-- <button class="button button-tertiary" data-action="expandable#toggle">Edit</button> -->
      <% end %>
    <% end %>
  <% end %>

  <% expandable.item do %>
    <div class="py-3 px-4">
      Hello
    </div>
  <% end %>
<% end %>