<%= form_with model: subscription, url: settings_subscription_path, html: {class: 'settings'}, data: {remote: true} do |f| %>
    <% present subscription do |subscription_presenter| %>
        <div class="feed-profile">
            <div class="inset">
                <div class="pill subscription-pill">
                    <%= subscription_presenter.favicon(subscription.feed) %>
                    <h4 data-behavior="user_title"><%= subscription.title %></h4>
                    <%= link_to "Edit", edit_subscription_path(subscription.feed), remote: true, class: "button button-secondary", data: {behavior: "open_settings_modal feed_settings", modal_target: "edit"} %>
                </div>
            </div>
            <div class="inset">
                <div class="subscription-profile">
                    <div class="chart-wrap">
                        <div class="graph-wrap">
                            <div class="graph-lines">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="graph" data-behavior="hide_tooltip tooltip_controller">
                                <div class="tooltip-large hide" data-behavior="tooltip_target">
                                    <div class="date" data-behavior="tooltip_day"></div>
                                    <div class="count" data-behavior="tooltip_count"></div>
                                </div>
                                <% subscription_presenter.graph_bars.each do |data| %>
                                    <div class="bar-sleeve" data-day="<%= data.day %>" data-count="<%= subscription_presenter.bar_count(data) %>" data-behavior="show_tooltip">
                                        <div style="height: <%= data.percent %>%;" class="bar <%= subscription_presenter.bar_class(data) %>"></div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="x-axis">
                                <div><%= subscription_presenter.graph_date_start %></div>
                                <div><%= subscription_presenter.graph_date_mid %></div>
                                <div><%= subscription_presenter.graph_date_end %></div>
                            </div>
                        </div>
                        <div class="y-axis">
                            <div><%= subscription_presenter.graph_quarter(4) %></div>
                            <div><%= subscription_presenter.graph_quarter(3) %></div>
                            <div><%= subscription_presenter.graph_quarter(2) %></div>
                            <div><%= subscription_presenter.graph_quarter(1) %></div>
                            <div>0</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inset">
                <h4 class="group-header">Stats</h4>

                <table class="table table-striped stats">
                    <tbody>
                        <tr>
                            <td>
                                Subscribed
                            </td>
                            <td class="extra-muted">
                                <%= subscription.created_at.to_s(:date) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Updated
                            </td>
                            <td class="extra-muted">
                                <%= subscription.feed.try(:last_published_entry).try(:to_s, :date) || "N/A" %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Volume
                            </td>
                            <td class="extra-muted">
                                <%= subscription_presenter.graph_volume %>
                                <% if subscription.feed.twitter_feed? %>
                                    <%= 'tweet'.pluralize(subscription_presenter.graph_volume) %> / month
                                <% else %>
                                    <%= 'article'.pluralize(subscription_presenter.total_posts) %> / month
                                <% end %>
                            </td>
                        </tr>
                        <% if !subscription.feed.twitter_feed? %>
                        <tr>
                            <td>
                                Website
                            </td>
                            <td>
                                <a href="<%= subscription.feed.site_url %>" class="extra-muted"><span><%= short_url(subscription.feed.site_url) %></span></a>
                            </td>
                        </tr>
                        <% end %>
                        <tr>
                            <td>
                                <% if subscription.feed.twitter_feed? %>
                                    Source
                                <% else %>
                                    Feed
                                <% end %>
                            </td>
                            <td>
                                <a href="<%= subscription.feed.feed_url %>" class="extra-muted"><span><%= short_url(subscription.feed.feed_url) %></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="inset">
                <h4 class="group-header">Feed Options</h4>
                <ul class="control-group">
                    <li>
                        <%= f.check_box :muted, data: {behavior: "auto_submit"}, id: "subscription_muted" %>
                        <%= f.label :muted do %>
                            Muted <%= toggle_switch %>
                        <% end %>
                    </li>
                    <li>
                        <%= f.check_box :show_updates, data: {behavior: "auto_submit"}, id: "subscription_show_updates" %>
                        <%= f.label :show_updates do %>
                            Show updates <%= toggle_switch %>
                            <p class="control-group-description">
                                Tells you when an article has been changed after being published
                            </p>
                        <% end %>
                    </li>
                    <% if !subscription.feed.twitter_feed? %>
                        <li>
                            <%= link_to "Refresh Favicon", refresh_favicon_settings_subscription_path(subscription), remote: true, method: :post %>
                        </li>
                    <% end %>
                </ul>
            </div>
            <% if subscription.feed.twitter_feed? %>
                <div class="inset">
                    <h4 class="group-header">Twitter Options</h4>
                    <ul class="control-group">
                        <li>
                            <%= f.check_box :show_retweets, data: {behavior: "auto_submit"}, id: "subscription_show_retweets" %>
                            <%= f.label :show_retweets do %>
                                Show Retweets <%= toggle_switch %>
                            <% end %>
                        </li>
                        <li>
                            <%= f.check_box :media_only, data: {behavior: "auto_submit"}, id: "subscription_media_only" %>
                            <%= f.label :media_only do %>
                                Media Only <%= toggle_switch %>
                                <p class="control-group-description">
                                    Only show tweets that contain links or images
                                </p>
                            <% end %>
                        </li>
                    </ul>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
