<%= form_with model: subscription, url: settings_subscription_path, data: {remote: true} do |f| %>
    <% present subscription do |subscription_presenter| %>
        <div class="border rounded-lg text-lg p-4 flex items-center gap-2 mb-14">
          <%= subscription_presenter.favicon(subscription.feed) %>
          <span data-behavior="user_title" class="truncate"><%= subscription.title %></span>
          <%= link_to "Edit", edit_subscription_path(subscription.feed), remote: true, class: "button button-secondary !ml-auto", data: {behavior: "open_settings_modal feed_settings", modal_target: "edit"} %>
        </div>

        <div class="chart-wrap leading-none flex mb-8 pb-[21px]">
            <div class="flex grow pt-[20%] border-b mr-[5px] relative">
                <div class="flex shrink-0 flex-col justify-between text-right absolute top-0 left-0 right-0 bottom-[2px]">
                    <div class="w-full border-t border-200 border-dashed"></div>
                    <div class="w-full border-t border-200 border-dashed"></div>
                    <div class="w-full border-t border-200 border-dashed"></div>
                    <div class="w-full border-t border-200 border-dashed"></div>
                    <div class="w-full border-t border-200 border-dashed invisible"></div>
                </div>
                <div class="flex items-stretch flex-nowrap absolute top-0 left-0 right-0 bottom-[2px]" data-behavior="hide_tooltip tooltip_controller">
                    <div class="absolute top-[10px] left-[10px] bg-100 border p-1 leading-none text-[10px] rounded whitespace-nowrap transition group opacity-0 data-[visible=true]:opacity-100" data-visible="false" data-behavior="tooltip_target" data-position="left">
                        <div class="w-0 h-0 border-x-transparent border-l-[4px] border-t-[4px] border-r-[4px] block absolute bottom-[-4px] group-data-[position=left]:left-[13px] group-data-[position=right]:right-[9px]"></div>
                        <div class="w-0 h-0 border-x-transparent border-l-[3px] border-t-[3px] border-r-[3px] block absolute bottom-[-3px] group-data-[position=left]:left-[14px] group-data-[position=right]:right-[10px] border-100"></div>
                        <div class="uppercase text-500 mb-1" data-behavior="tooltip_day"></div>
                        <div class="text-600 font-bold" data-behavior="tooltip_count"></div>
                    </div>
                    <% subscription_presenter.graph_bars.each do |data| %>
                        <div class="bar-sleeve flex-nowrap flex items-end grow first:m-0" data-day="<%= data.day %>" data-count="<%= subscription_presenter.bar_count(data) %>" data-behavior="show_tooltip">
                            <div style="height: <%= data.percent %>%;" class="ml-[2px] min-h-[1px] content-[''] grow bg-green-600 <%= data.count == 0 ? "rounded-t-none" : "rounded-t" %>"></div>
                        </div>
                    <% end %>
                </div>
                <div class="absolute inset-x-0 bottom-[-18px] justify-between flex text-400 text-xs leading-none">
                    <div><%= subscription_presenter.graph_date_start %></div>
                    <div><%= subscription_presenter.graph_date_mid %></div>
                    <div><%= subscription_presenter.graph_date_end %></div>
                </div>
            </div>
            <div class="flex shrink-0 flex-col justify-between text-right text-400 text-xs leading-none">
                <div class="relative top-[-5px]"><%= subscription_presenter.graph_quarter(4) %></div>
                <div class="relative top-[-3px]"><%= subscription_presenter.graph_quarter(3) %></div>
                <div class="relative top-[-1px]"><%= subscription_presenter.graph_quarter(2) %></div>
                <div class="relative top-[1px]"><%= subscription_presenter.graph_quarter(1) %></div>
                <div class="relative top-[3px]">0</div>
            </div>
        </div>

        <%= component "settings/control_group", class: "mb-14" do |group| %>
          <% group.header do %>
            Stats
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title { "Subscribed" } %>
              <% row.control do %>
                <span class="text-500"><%= subscription.created_at.to_formatted_s(:date) %></span>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title do %>
              Latest
                <% if subscription.feed.twitter_feed? %>
                  Tweet
                <% else %>
                  Article
                <% end %>
              <% end %>
              <% row.control do %>
                <span class="text-500">
                  <%= subscription.feed.try(:last_published_entry).try(:to_s, :date) || "N/A" %>
                </span>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title { "Volume" } %>
              <% row.control do %>
                <span class="text-500">
                  <%= subscription_presenter.graph_volume %>
                  <% if subscription.feed.twitter_feed? %>
                      <%= 'tweet'.pluralize(subscription_presenter.graph_volume) %> / month
                  <% else %>
                      <%= 'article'.pluralize(subscription_presenter.total_posts) %> / month
                  <% end %>
                </span>
              <% end %>
            <% end %>
          <% end %>

          <% unless subscription.feed.twitter_feed? %>
            <% group.item do %>
              <%= component "settings/control_row" do |row| %>
                <% row.title { "Website" } %>
                <% row.control do %>
                  <a href="<%= subscription.feed.site_url %>" class="!text-500 truncate">
                    <%= short_url(subscription.feed.site_url) %>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title { "Source" } %>
              <% row.control do %>
                <a href="<%= subscription.feed.feed_url %>" class="!text-500 truncate">
                  <%= short_url(subscription.feed.feed_url) %>
                </a>
              <% end %>
            <% end %>
          <% end %>
        <% end %>


        <%= component "settings/control_group", class: "mb-14" do |group| %>
          <% group.header do %>
            Options
          <% end %>

          <% group.item do %>
            <%= f.check_box :muted, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_muted" %>
            <%= f.label :muted, class: "group" do %>
              <%= component "settings/control_row_switch" do |row| %>
                <% row.title { "Muted" } %>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= f.check_box :show_updates, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_show_updates" %>
            <%= f.label :show_updates, class: "group" do %>
              <%= component "settings/control_row_switch" do |row| %>
                <% row.title { "Show updates" } %>
                <% row.description { "Tells you when an article has been changed after being published" } %>
              <% end %>
            <% end %>
          <% end %>

          <% if subscription.feed.twitter_feed? %>
            <% group.item do %>
              <%= f.check_box :show_retweets, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_show_retweets" %>
              <%= f.label :show_retweets, class: "group" do %>
                <%= component "settings/control_row_switch" do |row| %>
                  <% row.title { "Show Retweets" } %>
                <% end %>
              <% end %>
            <% end %>

            <% group.item do %>
              <%= f.check_box :media_only, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_media_only" %>
              <%= f.label :media_only, class: "group" do %>
                <%= component "settings/control_row_switch" do |row| %>
                  <% row.title { "Media Only" } %>
                  <% row.description { "Only show tweets that contain links or images" } %>
                <% end %>
              <% end %>
            <% end %>

          <% else %>
            <% group.item do %>
              <%= component "settings/control_row" do |row| %>
                <% row.title do %>
                  <%= link_to "Refresh Favicon", refresh_favicon_settings_subscription_path(subscription), remote: true, method: :post %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        <% end %>

    <% end %>
<% end %>
