<%= form_with model: subscription, url: settings_subscription_path, html: {class: 'settings'}, data: {remote: true} do |f| %>
    <% present subscription do |subscription_presenter| %>

        <div class="border rounded-lg text-lg p-4 flex items-center gap-2 mb-14">
          <%= subscription_presenter.favicon(subscription.feed) %>
          <span data-behavior="user_title" class="truncate"><%= subscription.title %></span>
          <%= link_to "Edit", edit_subscription_path(subscription.feed), remote: true, class: "button button-secondary !ml-auto", data: {behavior: "open_settings_modal feed_settings", modal_target: "edit"} %>
        </div>

        <div class="chart-wrap">
            <div class="graph-wrap">
                <div class="graph-lines">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="graph" data-behavior="hide_tooltip tooltip_controller">
                    <div class="tooltip-large hide" data-behavior="tooltip_target">
                        <div class="date" data-behavior="tooltip_day"></div>
                        <div class="count" data-behavior="tooltip_count"></div>
                    </div>
                    <% subscription_presenter.graph_bars.each do |data| %>
                        <div class="bar-sleeve" data-day="<%= data.day %>" data-count="<%= subscription_presenter.bar_count(data) %>" data-behavior="show_tooltip">
                            <div style="height: <%= data.percent %>%;" class="bar <%= subscription_presenter.bar_class(data) %>"></div>
                        </div>
                    <% end %>
                </div>
                <div class="x-axis">
                    <div><%= subscription_presenter.graph_date_start %></div>
                    <div><%= subscription_presenter.graph_date_mid %></div>
                    <div><%= subscription_presenter.graph_date_end %></div>
                </div>
            </div>
            <div class="y-axis">
                <div><%= subscription_presenter.graph_quarter(4) %></div>
                <div><%= subscription_presenter.graph_quarter(3) %></div>
                <div><%= subscription_presenter.graph_quarter(2) %></div>
                <div><%= subscription_presenter.graph_quarter(1) %></div>
                <div>0</div>
            </div>
        </div>

        <%= component "settings/control_group" do |group| %>
          <% group.header do %>
            Stats
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title { "Subscribed" } %>
              <% row.control do %>
                <span class="text-500"><%= subscription.created_at.to_formatted_s(:date) %></span>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title do %>
              Latest
                <% if subscription.feed.twitter_feed? %>
                  Tweet
                <% else %>
                  Article
                <% end %>
              <% end %>
              <% row.control do %>
                <span class="text-500">
                  <%= subscription.feed.try(:last_published_entry).try(:to_s, :date) || "N/A" %>
                </span>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title { "Volume" } %>
              <% row.control do %>
                <span class="text-500">
                  <%= subscription_presenter.graph_volume %>
                  <% if subscription.feed.twitter_feed? %>
                      <%= 'tweet'.pluralize(subscription_presenter.graph_volume) %> / month
                  <% else %>
                      <%= 'article'.pluralize(subscription_presenter.total_posts) %> / month
                  <% end %>
                </span>
              <% end %>
            <% end %>
          <% end %>

          <% unless subscription.feed.twitter_feed? %>
            <% group.item do %>
              <%= component "settings/control_row" do |row| %>
                <% row.title { "Website" } %>
                <% row.control do %>
                  <a href="<%= subscription.feed.site_url %>" class="!text-500 truncate">
                    <%= short_url(subscription.feed.site_url) %>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= component "settings/control_row" do |row| %>
              <% row.title { "Source" } %>
              <% row.control do %>
                <a href="<%= subscription.feed.site_url %>" class="!text-500 truncate">
                  <%= short_url(subscription.feed.feed_url) %>
                </a>
              <% end %>
            <% end %>
          <% end %>
        <% end %>


        <%= component "settings/control_group" do |group| %>
          <% group.header do %>
            Options
          <% end %>

          <% group.item do %>
            <%= f.check_box :muted, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_muted" %>
            <%= f.label :muted, class: "group" do %>
              <%= component "form/switch" do |button| %>
                <% button.title { "Muted" } %>
              <% end %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= f.check_box :show_updates, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_show_updates" %>
            <%= f.label :show_updates, class: "group" do %>
              <%= component "form/switch" do |button| %>
                <% button.title { "Show updates" } %>
                <% button.description { "Tells you when an article has been changed after being published" } %>
              <% end %>
            <% end %>
          <% end %>

          <% if subscription.feed.twitter_feed? %>
            <% group.item do %>
              <%= f.check_box :show_retweets, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_show_retweets" %>
              <%= f.label :show_retweets, class: "group" do %>
                <%= component "form/switch" do |button| %>
                  <% button.title { "Show Retweets" } %>
                <% end %>
              <% end %>
            <% end %>

            <% group.item do %>
              <%= f.check_box :media_only, class: "peer", data: {behavior: "auto_submit"}, id: "subscription_media_only" %>
              <%= f.label :media_only, class: "group" do %>
                <%= component "form/switch" do |button| %>
                  <% button.title { "Media Only" } %>
                  <% button.description { "Only show tweets that contain links or images" } %>
                <% end %>
              <% end %>
            <% end %>

          <% else %>
            <%= component "settings/control_row" do |row| %>
              <% row.title do %>
                <%= link_to "Refresh Favicon", refresh_favicon_settings_subscription_path(subscription), remote: true, method: :post %>
              <% end %>
            <% end %>
          <% end %>

        <% end %>

    <% end %>
<% end %>
