<div data-behavior="subscriptions_list">
  <%= form_tag update_multiple_settings_subscriptions_path, method: :patch, autocomplete: "off", class: "group", data: {controller: "toggle-checkboxes", toggle_checkboxes_include_all_visible_value: "false"} do |update_form| %>
    <%= hidden_field_tag :q, params[:q] %>
    <div class="p-4 flex border rounded-t-lg items-baseline justify-between">
      <input type="checkbox" class="peer" data-action="toggle-checkboxes#toggle" id="select_all_feeds" />
      <label for="select_all_feeds" class="group flex gap-2 items-center">
        <%= component "settings/check_box" %>
        Select all
      </label>

      <div class="max-w-[250px]">
        <%= component "settings/select_input" do |input| %>
          <% input.input do %>
            <%= select_tag :operation, options_for_select([["Actions", nil], ["Unsubscribe", "unsubscribe"], ["Show edits on articles", "show_updates"], ["Hide edits on articles", "hide_updates"], ["Mute Feed", "mute"], ["Unmute Feed", "unmute"]]), class: "peer", disabled: true, data: {behavior: "feed_actions", toggle_checkboxes_target: "actions"} %>
          <% end %>
          <% input.accessory_trailing position: "trailing" do %>
            <%= svg_tag "icon-caret", class: "fill-400 pg-focus:fill-blue-600 pg-disabled:fill-200" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @subscriptions.total_entries > @subscriptions.count  %>
      <div class="border border-t-0 py-3 px-4 block group-data-[toggle-checkboxes-include-all-visible-value=false]:hidden">
        <%= check_box_tag "include_all", 1, false, data: {action: "toggle-checkboxes#includeAll", toggle_checkboxes_target: "includeAll"}, class: "peer", id: "include_all_feeds" %>
        <label for="include_all_feeds" class="group flex gap-2 items-center">
          <%= component "settings/check_box" %>
          <% if params[:q] %>
            Include all <%= number_with_delimiter(@subscriptions.total_entries) %> <%= "subscription".pluralize(@subscriptions.total_entries) %> matching this search
          <% else %>
            Include all <%= number_with_delimiter(@subscriptions.total_entries) %> <%= "subscription".pluralize(@subscriptions.total_entries) %>
          <% end %>
        </label>
      </div>
    <% end %>

    <ul class="mb-4">
      <% @subscriptions.each do |subscription| %>
        <% present subscription do |subscription_presenter| %>
          <%= fields_for "subscriptions[]", subscription do |f| %>
            <li class="flex items-center relative border-b border-x gap-2 last:rounded-b-lg">

              <div class="shrink-0 w-[32px] self-stretch flex">
                  <%= check_box_tag "subscription_ids[]", subscription.id, false, id: "subscription_checkbox_#{subscription.id}", class: "peer", data: {action: "toggle-checkboxes#toggleActions", toggle_checkboxes_target: "checkbox"} %>
                  <label class="group w-full h-full flex justify-end pt-[16px]" for="<%= "subscription_checkbox_#{subscription.id}" %>">
                    <%= component "settings/check_box" %>
                  </label>
              </div>

              <%= link_to edit_settings_subscription_path(subscription), class: "flex grow items-center overflow-hidden gap-2 px-4 py-3 pl-2 !text-600 hover:no-underline" do %>
                <span class="self-start block mt-[2px]">
                  <%= subscription_presenter.favicon(subscription.feed) %>
                </span>

                <span class="truncate">
                  <span class="block truncate">
                    <%= subscription.title %>
                    <span class="text-500 text-sm"><%= timeago(subscription.last_published_entry) %>, <%= number_with_delimiter(subscription.post_volume) %>/mo</span>
                  </span>
                  <span class="block truncate !text-500 text-sm">
                    <%= short_url(subscription.feed_url) %>
                  </span>
                </span>

                <span class="ml-auto flex items-center gap-4">
                  <%= render partial: "shared/sparkline", locals: {sparkline: subscription_presenter.sparkline} %>
                  <%= svg_tag "icon-caret", class: "fill-300 -rotate-90" %>
                </span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <div class="settings">
    <%= will_paginate @subscriptions, previous_label: "Previous", next_label: "Next" %>
  </div>
</div>
