<div data-behavior="subscriptions_list">
  <%= form_tag update_multiple_settings_subscriptions_path, method: :patch, autocomplete: "off", class: "group", data: {controller: "toggle-checkboxes", toggle_checkboxes_include_all_visible_value: "false"} do |update_form| %>
    <%= hidden_field_tag :q, params[:q] %>
    <div class="py-4 flex border-y items-center justify-between">
      <input type="checkbox" class="peer" data-action="toggle-checkboxes#toggle" id="select_all_feeds" />
      <label for="select_all_feeds" class="group flex gap-2 items-center">
        <%= component "form/check_box" %>
        Select all
      </label>

      <div class="max-w-[250px]">
        <%= component "form/select_input" do |input| %>
          <% input.input do %>
            <%= select_tag :operation, options_for_select([["Actions", nil], ["Unsubscribe", "unsubscribe"], ["Show edits on articles", "show_updates"], ["Hide edits on articles", "hide_updates"], ["Mute Feed", "mute"], ["Unmute Feed", "unmute"]]), class: "peer", disabled: true, data: {behavior: "feed_actions", toggle_checkboxes_target: "actions"} %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @subscriptions.total_entries > @subscriptions.count  %>
      <div class="border-b py-3 block group-data-[toggle-checkboxes-include-all-visible-value=false]:hidden">
        <%= check_box_tag "include_all", 1, false, data: {action: "toggle-checkboxes#includeAll", toggle_checkboxes_target: "includeAll"}, class: "peer", id: "include_all_feeds" %>
        <label for="include_all_feeds" class="group flex gap-2 items-center">
          <%= component "form/check_box" %>
          <% if params[:q] %>
            Include all <%= number_with_delimiter(@subscriptions.total_entries) %> <%= "subscription".pluralize(@subscriptions.total_entries) %> matching this search
          <% else %>
            Include all <%= number_with_delimiter(@subscriptions.total_entries) %> <%= "subscription".pluralize(@subscriptions.total_entries) %>
          <% end %>
        </label>
      </div>
    <% end %>

    <ul class="mb-14">
      <% @subscriptions.each do |subscription| %>
        <% present subscription do |subscription_presenter| %>
          <%= fields_for "subscriptions[]", subscription do |f| %>
            <li class="flex items-center relative border-b">

              <div class="shrink-0 w-[32px] self-stretch flex">
                <%= check_box_tag "subscription_ids[]", subscription.id, false, id: "subscription_checkbox_#{subscription.id}", class: "peer", data: {action: "toggle-checkboxes#toggleActions", toggle_checkboxes_target: "checkbox"} %>
                <label class="group w-full h-full flex items-center" for="<%= "subscription_checkbox_#{subscription.id}" %>">
                  <%= component "form/check_box" %>
                </label>
              </div>

              <%= link_to edit_settings_subscription_path(subscription), class: "flex grow items-center overflow-hidden gap-3 py-3 !text-600 hover:no-underline" do %>
                <span class="block">
                  <%= subscription_presenter.favicon(subscription.feed) %>
                </span>

                <span class="truncate">
                  <span class="block truncate">
                    <%= subscription.title %>
                    <span class="text-500 text-sm"><%= timeago(subscription.last_published_entry) %>, <%= number_with_delimiter(subscription.post_volume) %>/mo</span>
                  </span>
                  <span class="block truncate !text-500 text-sm">
                    <%= short_url(subscription.feed_url) %>
                  </span>
                </span>

                <span class="ml-auto flex items-center gap-4">
                  <%= svg_tag "menu-icon-mute", class: class_names(["fill-600", {"tw-hidden" => !subscription.muted?}]), title: "Muted", data: {toggle: "tooltip"} %>
                  <span class="<%= subscription.muted? ? "tw-hidden" : "" %>">
                    <%= render partial: "shared/sparkline", locals: {sparkline: subscription_presenter.sparkline} %>
                  </span>
                  <%= svg_tag "icon-caret", class: "fill-300 -rotate-90" %>
                </span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= will_paginate @subscriptions, previous_label: "Previous", next_label: "Next", inner_window: 1 %>
</div>