<%= render partial: 'shared/svg' %>
<div class="settings-content-inner">

    <%= form_tag update_multiple_settings_subscriptions_path, method: :patch, autocomplete: 'off' do %>
    <input type="hidden" name="operation" value="" />

    <div class="feed-settings">
        <div class="clearfix">
            <div class="half float-right">
                <input type="text" class="feed-search" data-behavior="feed_search" placeholder="Search Feeds" />
            </div>
            <div class="half por">
                <h2>Feeds</h2>
            </div>
        </div>

        <div class="feed-controls clearfix">
            <div class="half text-right float-right">
                <div class="dropdown-wrap dropdown-right feed-dropdown">
                    <button class="feeds-toolbar-button button-caret no-margin" data-behavior="toggle_dropdown sort_label">Sort by name</button>
                    <div class="dropdown-content">
                        <ul>
                            <li data-behavior="sort_feeds" data-value="name"><span>Sort by name</span></li>
                            <li data-behavior="sort_feeds" data-value="last-updated"><span>Sort by last updated</span></li>
                            <li data-behavior="sort_feeds" data-value="volume"><span>Sort by volume</span></li>
                            <li data-behavior="sort_feeds" data-value="tags"><span>Sort by tag</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="half por">
                <input type="checkbox" class="feeds-checkbox" data-behavior="toggle_checked" />
                <div class="dropdown-wrap dropdown-left feed-dropdown">
                    <button class="feeds-toolbar-button button-caret" data-behavior="toggle_dropdown feed_actions">Actions</button>
                    <div class="dropdown-content">
                        <ul>
                            <li data-operation="unsubscribe"><span>Unsubscribe</span></li>
                            <li data-operation="show_updates"><span class="no-border">Show edits on articles</span></li>
                            <li data-operation="hide_updates"><span>Hide edits on articles</span></li>
                            <li data-operation="mute"><span class="no-border">Mute Feed</span></li>
                            <li data-operation="unmute"><span>Unmute Feed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feed-form-wrap">
        <ul class="pill-list feed-form sortable"  data-behavior="search_results">
            <% @subscriptions.each do |subscription| %>
                <% present subscription do |subscription_presenter| %>
                    <%= fields_for "subscriptions[]", subscription do |f| %>
                        <% tag_names = get_tag_names(@tags, subscription.feed_id) %>
                        <li class="feeds-wrap <%= subscription_presenter.mute_class %>" data-sort-name="<%= subscription.title.downcase %><%= subscription.site_url %><%= subscription.feed_url %><%= tag_names %><%= subscription_presenter.muted_status %>" data-sort-last-updated="<%= subscription.try(:last_published_entry).try(:to_time).try(:to_i) %>" data-sort-post-volume="<%= subscription.post_volume %>" data-sort-tags="<%= tag_names %>">
                            <i class="status-indicator icon-muted"></i>
                            <label class="checkbox-wrap">
                                <%= check_box_tag "subscription_ids[]", subscription.id, false, id: "subscription_checkbox_#{subscription.id}", class: "checkbox feeds-checkbox" %>
                            </label>
                            <%= link_to edit_settings_subscription_path(subscription), class: "subscription-link" do %>

                                <span class="subscription-data-wrap">
                                    <span class="subscription-data">
                                        <span class="favicon-container">
                                            <%= subscription_presenter.favicon(subscription.feed) %>
                                        </span>
                                        <span class="text-wrap">
                                            <span class="title-container">
                                                <%= subscription.title %>
                                            </span>
                                            <span class="last-updated-wrap">
                                                <%= timeago(subscription.last_published_entry) %>, <%= number_with_delimiter(subscription.post_volume) %>/mo
                                            </span>
                                        </span>
                                        <span class="canvas-wrap">
                                            <%= content_tag :canvas, '', width: 97, height: 20, data: { values: subscription.entries_count, fill: "#dcebff", stroke: "#3399FF", behavior: "line_graph" } %>
                                        </span>
                                    </span>
                                    <span class="subscription-meta">
                                        <span class="feed-url-wrap">
                                            <%= pretty_url(subscription.feed_url) %>
                                        </span>
                                    </span>
                                </span>

                                <span class="subscription-controls">
                                    &nbsp;
                                    <% if tag_names %>
                                        <span class="tags">
                                            <%= tag_names %>
                                        </span>
                                    <% end %>
                                    <%= subscription_presenter.mute_icon %>
                                    <%= subscription_presenter.update_icon %>
                                </span>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
    </div>

    <% end %>
</div>