<%= render partial: 'shared/svg' %>
<div class="settings-content-inner">


    <div class="feed-settings">
        <h2>Subscriptions</h2>
        <%= form_tag settings_subscriptions_path, method: :get, remote: true do %>
            <input type="search" class="feed-search" placeholder="Search Feeds" data-behavior="autosubmit" name="q" value="<%= params[:q] %>" />
        <% end %>
    </div>


        <div class="feed-controls clearfix">
            <div class="half text-right float-right">
                <div class="dropdown-wrap dropdown-right feed-dropdown">
                    <button class="feeds-toolbar-button button-caret no-margin" data-behavior="toggle_dropdown sort_label">Sort by <%= params[:sort] || "name" %></button>
                    <div class="dropdown-content">
                        <ul>
                            <li data-value="name"><a href="?sort=name&amp;q=<%= params[:q] %>">Sort by name</a></li>
                            <li data-value="last-updated"><a href="?sort=updated&amp;q=<%= params[:q] %>">Sort by updated</a></li>
                            <li data-value="volume"><a href="?sort=volume&amp;q=<%= params[:q] %>">Sort by volume</a></li>
                            <li data-value="tags"><a href="?sort=tag&amp;q=<%= params[:q] %>">Sort by tag</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="half por">
                <input type="checkbox" class="feeds-checkbox" data-behavior="toggle_checked" />
                <div class="dropdown-wrap dropdown-left feed-dropdown">
                    <button class="feeds-toolbar-button button-caret" data-behavior="toggle_dropdown feed_actions">Actions</button>
                    <div class="dropdown-content">
                        <ul>
                            <li data-operation="unsubscribe"><span>Unsubscribe</span></li>
                            <li data-operation="show_updates"><span class="no-border">Show edits on articles</span></li>
                            <li data-operation="hide_updates"><span>Hide edits on articles</span></li>
                            <li data-operation="mute"><span class="no-border">Mute Feed</span></li>
                            <li data-operation="unmute"><span>Unmute Feed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= render partial: "subscriptions_list" %>

</div>