<div class="iframe-embed system-content embed-type-<%= embed.type %>">
    <% if embed.image_url.present? %>
        <div class="image-wrap">
            <div class="inner" data-behavior="iframe_placeholder" data-iframe-src="<%= @embed.iframe_src %>">
                <%= image_tag_with_fallback(camo_link(@embed.image_url_fallback), camo_link(@embed.image_url), class: "responsive") %>
            </div>
        </div>
    <% end %>
    <div class="embed-profile entry-callout">
        <a class="embed-icon" href="<%= embed.canonical_url %>">
            <%= svg_tag "icon-embed-source-#{embed.clean_name}" %>
        </a>
        <div class="embed-data">
            <div class="embed-title"><%= embed.title %></div>
            <div class="embed-subtitle"><%= embed.subtitle %></div>
        </div>
        <div class="profile-image">
            <% if embed.image_url.present? %>
                <%= image_tag_with_fallback(camo_link(@embed.image_url_fallback), camo_link(@embed.image_url), class: "responsive") %>
            <% end %>
        </div>
    </div>
</div>
