<% cache [Digest::SHA1.hexdigest(media.iframe_src), media.cache_key] do %>
    <% if media.image_url.present? %>
    <div class="iframe-embed system-content embed-type-<%= media.type %> embed-with-image" data-behavior="iframe_placeholder" data-iframe-src="<%= media.iframe_src %>" data-iframe-width="<%= params[:width] %>" data-iframe-height="<%= params[:height] %>">
        <% if media.image_url.present? %>
            <div class="image-wrap" title="Load embed">
                <div class="play-button">
                    <div class="play-button-inner">
                        <%= svg_tag "icon-play" %>
                    </div>
                </div>
                <% if media.duration %>
                  <div class="embed-duration"><%= media.duration %></div>
                <% end %>
                <div class="inner" data-behavior="iframe_target">
                    <%= image_tag(camo_link(media.image_url), class: "responsive", alt: "") %>
                </div>
            </div>
        <% end %>
        <a class="embed-profile entry-callout embed-link" href="<%= media.canonical_url %>" title="Visit embed source">
            <span class="embed-data">
                <span class="embed-title"><%= media.title %></span>
                <% if media.channel_name %>
                    <span class="embed-subhead"><%= media.channel_name %></span>
                <% end %>
                <span class="embed-subtitle"><%= media.subtitle %></span>
            </span>
            <% if media.profile_image %>
            <span class="embed-profile-image">
                <%= image_tag(camo_link(media.profile_image), class: "responsive", alt: "") %>
            </span>
            <% else %>
            <span class="embed-icon" href="<%= media.canonical_url %>">
                <%= favicon_with_host(media.embed_url.host) %>
                <%= svg_tag "icon-embed-source-#{media.clean_name}" %>
            </span>
            <% end %>
        </a>
    </div>
    <% else %>
    <div class="iframe-embed system-content embed-type-<%= media.type %>" data-behavior="iframe_placeholder" data-iframe-src="<%= media.iframe_src %>" data-iframe-width="<%= params[:width] %>" data-iframe-height="<%= params[:height] %>" title="Load embed">
        <div class="embed-profile entry-callout" href="<%= media.canonical_url %>">
            <span class="embed-data">
                <span class="embed-title"><%= media.title %></span>
                <span class="embed-subtitle"><%= media.subtitle %></span>
            </span>
            <a class="embed-icon embed-link" href="<%= media.canonical_url %>">
                <%= favicon_with_host(media.embed_url.host) %>
                <%= svg_tag "icon-embed-source-#{media.clean_name}" %>
            </a>
        </div>
    </div>
    <% end %>
<% end %>

