<div class="tweet-wrap system-content">
    <div class="tweet quoted-tweet">
        <header class="tweet-header">
            <div class="profile-wrap">
                <div class="profile-image-wrap">
                    <%= link_to media.author_url, target: "_blank", title: "View on Twitter", class: "profile-image" do %>
                        <%= image_tag(camo_link(media.profile_image_url), size: "47x47", alt: "") %>
                    <% end %>
                </div>
                <div class="profile-info">
                    <h1>
                        <a href="<%= media.permalink %>" target="_blank" class="link">
                            <strong><%= media.name %></strong>
                            <%= media.screen_name %>
                        </a>
                        <span class="tweet-actions">
                            <%= link_to media.permalink, target: "_blank", title: "View on Twitter", class: "tweet-link embed" do %>
                                <%= svg_tag "icon-twitter-logo" %>
                            <% end %>
                        </span>
                    </h1>
                    <p class="post-meta">
                        <%= link_to media.permalink, target: "_blank", title: "View on Twitter" do %>
                            <time datetime="<%= media.date.iso8601 %>">
                                <%= media.date.to_s(:date) %>
                            </time>
                        <% end %>
                    </p>
                </div>
            </div>
        </header>
        <div class="tweet-body">
            <%= media.content.html_safe %>
            <% if media.image_url %>
                <p><a href="<%= media.image_url %>"><img src="<%= camo_link(media.image_url) %>"></a></p>
            <% end %>
        </div>
    </div>
</div>
