<div class="tweet">
    <header class="tweet-header">
        <%= link_to @tweet.tweet_url, target: "_blank", title: "View on Twitter" do %>
            <%= image_tag_with_fallback(image_url("favicon-profile-default.png"), @tweet.profile_image_url, size: "47x47", alt: "") %>
        <% end %>
        <h1>
            <a href="<%= @tweet.author_url %>" target="_blank" class="link">
                <strong><%= @tweet.name %></strong>
                <%= @tweet.screen_name %>
            </a>
            <span class="tweet-actions">
                <%= link_to @tweet.tweet_url, target: "_blank", title: "View on Twitter", class: "twitter-link" do %>
                    <%= svg_tag "icon-twitter" %>
                <% end %>
            </span>
        </h1>
        <p class="post-meta">
          <%= link_to @tweet.tweet_url, target: "_blank", title: "View on Twitter" do %>
              <time datetime="<%= @tweet.date.iso8601 %>">
                  <%= @tweet.date.to_s(:full_human) %>
              </time>
          <% end %>
        </p>
    </header>

    <div class="tweet-body">
        <%= @tweet.content.html_safe %>
    </div>

</div>
