<%= form_for @sharing_service, html: {novalidate: 'novalidate'} do |f| %>
    <h4 class="group-header">Custom Services</h4>
    <div class="pill form">
        <div class="stacked-form">
            <div class="input-group-wrap">
                <%= f.label :label, "Label" %>
                <%= render "shared/input" do %>
                    <%= f.text_field :label %>
                <% end %>
            </div>
            <div class="input-group-wrap">
                <%= f.label :url, "URL" %>
                <%= render "shared/input" do %>
                    <%= f.url_field :url %>
                <% end %>
            </div>
        </div>
        <p class="control-group-description">Create your own sharing service. <a href="https://feedbin.com/help/sharing-read-it-later-services/">How does this work</a>?</p>
        <div class="button-wrap">
            <button type="submit" class="button no-margin">Add Service</button>
        </div>
    </div>
<% end %>
