<li class="icon-share-custom share-icon-wrap">
  <p class="service-title"><%= sharing_service.label %></p>


  <div class="list-action show-service-options">
    <a href="#" data-behavior="show_service_options">Edit</a> |
    <%= link_to 'Delete', sharing_service_path(sharing_service), class: 'danger', method: :delete, data: { confirm: 'Are you sure you want to delete this sharing service?' } %>
  </div>

  <div class="service-options hide">
    <%= form_for(sharing_service) do |f| %>
      <%= f.text_field :label, placeholder: 'Label', class: 'no-margin' %>
      <%= f.url_field :url, placeholder: 'URL' %>
      <%= link_to 'Cancel', '#', class: 'action-button button-danger button-link cancel-button', data: {behavior: "hide_service_options"} %>
      <%= submit_tag "Save", class: 'action-button button button-primary' %>
    <% end %>
  </div>
</li>

