<%= component "settings/expandable", class: "mb-4", data: {capsule: true} do |expandable| %>
  <% expandable.description do %>
    <%= component "settings/control_row" do |row| %>
      <% row.icon do %>
        <%= render "icon", sharing_service: sharing_service %>
      <% end %>
      <% row.title { sharing_service.label } %>
      <% row.description do %>
        URL: <%= sharing_service.url %>
      <% end %>
      <% row.control do %>
        <button class="button button-tertiary" data-action="expandable#toggle">Edit</button>
        <%= link_to 'Deactivate', sharing_service_path(sharing_service), class: 'button button-secondary', method: :delete, data: { confirm: 'Are you sure you want to delete this sharing service?' } %>
      <% end %>
    <% end %>
  <% end %>

  <% expandable.item do %>
    <%= render "form", record: sharing_service %>
  <% end %>
<% end %>