<% if status == :active %>
  <%= render partial: "delete_supported_service", locals: {sharing_service: sharing_service} %>
<% elsif status == :issue %>
  issue
<% else %>
  <p class="service-title"><%= sharing_service.label %></p>
  <%= link_to 'Activate', '#', class: 'list-action', data: {behavior: "show_service_options"} %>
  <div class="service-options hide">
    <%= form_tag xauth_request_path(sharing_service.service_id) do %>
      <%= text_field_tag 'username', '', placeholder: 'Username', class: 'no-margin' %>
      <%= password_field_tag 'password', '', placeholder: 'Password' %>

      <%= link_to 'Cancel', '#', class: 'action-button button-danger button-link cancel-button', data: {behavior: "hide_service_options"} %>
      <%= submit_tag "Login", class: 'action-button button button-primary' %>
    <% end %>
  </div>
<% end %>
