<div class="settings-content-inner-wide">
  <h2>Sharing</h2>

  <% if @active_services.any? %>
    <h3>Active Services</h3>

    <ul class="pill-list">
      <% @active_services.each do |service_id, sharing_service| %>
        <% if sharing_service.active? %>
          <li><%= render partial: "service_#{service_id}", locals: {sharing_service: sharing_service, status: :active} %></li>
        <% else %>
          <li><%= render partial: "service_#{service_id}", locals: {sharing_service: sharing_service, status: :issue} %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% unless @active_services.count ==  Feedbin::Application.config.supported_services.count %>
    <h3>Available Services</h3>

    <ul class="pill-list">
      <% Feedbin::Application.config.supported_services.each do |sharing_service| %>
        <% unless @active_services[sharing_service.service_id].present? %>
          <li><%= render partial: "service_#{sharing_service.service_id}", locals: {sharing_service: sharing_service, status: :inactive} %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <h3>Custom</h3>
  <p class="muted">BYO sharing service. <a href="http://help.feedbin.com/sharing-read-it-later-services/">How does this work?</a></p>
  <%= form_for @user, url: sharing_services_update_user_path(@user), html: {novalidate: 'novalidate'} do |f| %>
    <p class="half-margin"><%= link_to_add_fields "Add Service", f, :sharing_services %></p>
    <table class="table form-table" data-behavior="add_fields_target">
      <tbody>
        <%= f.fields_for :sharing_services do |builder| %>
          <%= render 'sharing_service_fields', f: builder %>
        <% end %>
        <tr>
          <td colspan="3">
            <%= f.submit 'Save', class: 'button button-primary' %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

</div>