<%= component "settings/h1" do %>
  Share & Save
<% end %>

<% if @active_sharing_services.present? %>
  <div class="mb-14">
    <%= component "settings/h2" do %>
      Active Services
    <% end %>

    <% @active_sharing_services.each do |sharing_service| %>
      <%= render sharing_service %>
    <% end %>
  </div>
<% end %>

<% unless @active_sharing_services.count == @available_sharing_services.count %>
  <div class="mb-14">
    <%= component "settings/h2" do %>
      Available Services
    <% end %>

    <% @available_sharing_services.each do |sharing_service| %>
      <% unless @active_service_ids.include?(sharing_service.service_id) %>
        <%= render partial: "supported_sharing_services/service_#{sharing_service.service_id}", locals: {sharing_service: sharing_service, record: SupportedSharingService.new, status: :inactive} %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= component "settings/control_group", class: "group", data: {capsule: "true"} do |group| %>
  <% group.header do %>
    Custom Services
  <% end %>
  <% group.item do %>
    <%= render "form", record: @sharing_service %>
  <% end %>
<% end %>