<div class="settings-content-inner">
  <h2>Sharing</h2>

  <h3>Read it Later</h3>
  <div class="big-table-wrap">
    <table class="big-table sharing-table">
      <tbody>
        <% SharingService::NATIVE_SERVICES.each do |sharing_service| %>
          <% if @native_serivces[sharing_service[:service_id]].present? && @native_serivces[sharing_service[:service_id]].access_token.blank? %>
          <tr class="has-message">
            <td><%= sharing_service[:label] %> X</td>
            <td>
              <%= link_to 'Reactivate', oauth_request_path(sharing_service[:service_id]) %> | <%= link_to 'Remove', auth_delete_path(sharing_service[:service_id]), method: :delete, class: 'danger' %>
            </td>
          </tr>
          <tr class="message">
            <td colspan="2">
              <small>There was a problem logging in to <%= sharing_service[:label] %>.</small>
            </td>
          </tr>
          <% elsif @native_serivces[sharing_service[:service_id]].present? %>
          <tr>
            <td><%= sharing_service[:label] %></td>
            <td><%= link_to 'Deactivate', auth_delete_path(sharing_service[:service_id]), method: :delete, class: 'danger' %></td>
          </tr>
          <% else %>
          <tr>
            <td><%= sharing_service[:label] %></td>
            <td><%= link_to 'Activate', oauth_request_path(sharing_service[:service_id]) %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


  <h3>Social</h3>

  <h3>Custom</h3>
  <p class="muted">BYO sharing service. <a href="http://help.feedbin.com/sharing-read-it-later-services/">How does this work?</a></p>
  <%= form_for @user, url: sharing_services_update_user_path(@user), html: {novalidate: 'novalidate'} do |f| %>
    <p class="half-margin"><%= link_to_add_fields "Add Service", f, :sharing_services %></p>
    <table class="table form-table" data-behavior="add_fields_target">
      <tbody>
        <%= f.fields_for :sharing_services do |builder| %>
          <%= render 'sharing_service_fields', f: builder %>
        <% end %>
        <tr>
          <td colspan="3">
            <%= f.submit 'Save', class: 'button button-primary' %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

</div>