<% content_for :head do %>
    <script>
        if (window.feedbin == null) {
            window.feedbin = {};
        }
        feedbin.data = <%= raw json_escape(@data.to_json) %>;
        feedbin.data.tagNames = <%= raw json_escape(@user.tag_names.to_json) %>;
        feedbin.count_data = <%= raw json_escape(@count_data.to_json) %>;
        feedbin.data.viewMode = "<%= view_mode %>";
        feedbin.Counts.get(feedbin.count_data);
    </script>
<% end %>

<%= render partial: 'shared/svg' %>
<div class="format-wrap theme-day" data-font-size="<%= cookies[:setting_font_size] || @user.font_size || 5 %>">
    <div class="format-palette">
        <%= form_with(model: current_user, url: format_user_path(current_user)) do |f| %>
            <%= f.hidden_field :font_size, data: {behavior: "font_size"} %>
            <h3>Theme</h3>
            <div class="theme-options">
                <%= f.collection_radio_buttons(:theme, Feedbin::Application.config.themes, :slug, :name) do |b| %>
                    <div class="option">
                        <%= b.radio_button data: {behavior: "auto_submit switch_theme"} %>
                        <%= b.label do %>
                            <span class="swatch"></span>
                            <%= b.text %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <h3 style="margin-bottom: 8px;">Typeface</h3>

            <div class="control">
                <div class="font-options">
                    <%= f.collection_radio_buttons(:font, Feedbin::Application.config.fonts, :slug, :name) do |b| %>
                        <div class="option">
                            <%= b.radio_button data: {behavior: "auto_submit change_font"} %>
                            <%= b.label do %>
                                <% if icon_exists?("font-#{b.value}") %>
                                    <%= svg_tag "font-#{b.value}" %>
                                <% else %>
                                    <%= b.text %>
                                <% end %>
                                <%= radio_button_control %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>

            <h3 style="margin-top: 16px;">Font Size</h3>
            <div class="control">
                <span class="font-size">
                    <button class="reset" data-behavior="decrease_font">Smaller</button>
                    <button class="reset" data-behavior="increase_font">Larger</button>
                </span>
            </div>

            <div class="mobile-hide">
                <h3>Display</h3>

                <div class="control">
                    <ul class="control-group">
                        <li>
                            <input data-behavior="auto_submit" type="checkbox" value="1" id="toggle_full_screen">
                            <label for="toggle_full_screen">
                                Full screen
                                <%= toggle_switch title: "shift + f", data: {toggle: "tooltip"} %>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="paragraph_width">
                            <label for="paragraph_width">
                                Fluid width
                                <%= toggle_switch %>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
</div>
