<% @class = 'public-page' %>
<% content_for :head do %>
  <meta name="description" content="A fast, simple RSS feed reader that delivers a great reading experience."/>
<% end %>
<% content_for :content do %>
  <div class="header">
    <div class="container">
      <div class="super-header-wrap">
        <div class="row">
          <div class="col-xs-6"><a href="/" class="home-logo hide-text">Feedbin</a></div>
          <div class="col-xs-6 align-right"><%= link_to "Login", login_path, class: "button-login" %></div>
        </div>
      </div>
      <h1 class="tagline"><strong>A fast, simple RSS reader</strong> that delivers a great reading experience.</h1>
      <p class="pricing-promo"><sup>$</sup>3 per month <em>or</em> <sup>$</sup>30 a year</p>
      <p class="align-center"><%= link_to "Try it Free", signup_path, class: "button-get-started" %></p>
    </div>
    <div class="screenshot-mask">
      <div class="container">
        <%= image_tag "screenshots/_main.png", class: "responsive" %>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="container">

      <h2 class="tagline-small">Feedbin syncs with these apps <em><a href="<%= apps_path %>">and more</a></em></h2>
      <div class="apps">
        <a href="https://itunes.apple.com/app/reeder-2/id697846300" class="app clearfix">
          <span class="icon-wrap">
            <%= image_tag 'apps/reeder-iphone.jpg', class: 'icon rounded-icon' %>
          </span>
          <h3>Reeder 2</h3>
          <p>By Silvio Rizzi</p>
        </a>

        <a href="https://play.google.com/store/apps/details?id=com.twentyfivesquares.press" class="app clearfix">
          <span class="icon-wrap">
            <%= image_tag 'apps/press-android.png', class: 'icon' %>
          </span>
          <h3>Press</h3>
          <p>By TwentyFive Squares</p>
        </a>

        <a href="https://itunes.apple.com/app/mr.-reader/id412874834" class="app clearfix">
          <span class="icon-wrap">
            <%= image_tag 'apps/mr-reader-ipad.jpg', class: 'icon rounded-icon' %>
          </span>
          <h3>Mr. Reader</h3>
          <p>By Oliver Fürniß</p>
        </a>

        <a href="https://itunes.apple.com/app/readkit/id588726889" class="app clearfix">
          <span class="icon-wrap">
            <%= image_tag 'apps/readkit-mac.png', class: 'icon' %>
          </span>
          <h3>ReadKit</h3>
          <p>By Balazs Varkonyi</p>
        </a>

        <p class="sm-show align-center"><%= link_to "See all apps", apps_path %></p>
      </div>

    </div>

    <div class="container align-center">
      <h2 class="tagline-small no-margin">Just what you need in a reader</h2>
      <p class="sub-head">Feedbin is lightweight, you can read for hours on end and it stays out of the way. Feedbin is built for speed with an intuitive layout and keyboard shortcuts to get you where you want to be.</p>

      <div class="col-sm-4 col-sm-push-2 feature">
        <%= image_tag 'icon-home-search.svg', width: '34', class: 'feature-icon-search' %>
        <h3>Search</h3>
        <p>Use Feedbin’s <a href="http://blog.feedbin.me/2013/10/10/search-beta/">advanced search</a> to find just what you’re looking for. <a href="http://blog.feedbin.me/2013/10/14/saved-searches/">Save your searches</a> to save time.</p>
      </div>

      <div class="col-sm-4 col-sm-push-2 feature">
        <%= image_tag 'icon-home-readability.svg', width: '36', class: 'feature-icon-readability' %>
        <h3>Readability</h3>
        <p>Truncated feed content? Built in Readability gets you the full content. Make it sticky to always use Readability for a feed.</p>
      </div>

      <hr class="nospace" />

      <div class="col-sm-4 col-sm-push-2 feature">
        <%= image_tag 'icon-home-share.svg', width: '36' %>
        <h3>Sharing</h3>
        <p>Configurable sharing services let you decide what services you want to use.</p>
      </div>

      <div class="col-sm-4 col-sm-push-2 feature">
        <%= image_tag 'icon-home-tag.svg', width: '36' %>
        <h3>Tags</h3>
        <p>Organize your feeds. Feeds can have as many tags as you need. See all your tagged feeds in Tag Drawers.</p>
      </div>

    </div>

  </div>

  <div class="screenshots-wrap">
    <div class="container">
      <h2 class="tagline-small por">
        Screenshots
        <ul class="screenshot-arrow-nav">
          <li data-behavior="screenshot_next" class="icon-next"></li>
          <li data-behavior="screenshot_previous" class="icon-previous"></li>
        </ul>
      </h2>
      <ul class="screenshot-nav" data-behavior="screenshot_nav">
        <li>
          <a href="#">
            <%= image_tag "screenshots/settings.png", class: "responsive" %>
            Settings
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <%= image_tag "screenshots/actions.png", class: "responsive" %>
            Actions
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <%= image_tag "screenshots/tags.png", class: "responsive" %>
            Tags
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <%= image_tag "screenshots/format-toolbar.png", class: "responsive" %>
            Format Toolbar
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "screenshots/feed-management.png", class: "responsive" %>
            Feed Management
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "screenshots/multiple-feeds.png", class: "responsive" %>
            Multiple Feeds
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "screenshots/account.png", class: "responsive" %>
            Account
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "screenshots/import-export.png", class: "responsive" %>
            Import/Export
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "screenshots/share-menu.png", class: "responsive" %>
            Share Menu
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "screenshots/configure-sharing.png", class: "responsive" %>
            Configure Sharing
          </a>
        </li>
      </ul>
      <div data-behavior="screenshots" class="screenshots">
        <%= image_tag "screenshots/settings.png", class: "responsive" %>
        <%= image_tag "screenshots/actions.png", class: "hide responsive" %>
        <%= image_tag "screenshots/tags.png", class: "hide responsive" %>
        <%= image_tag "screenshots/format-toolbar.png", class: "hide responsive" %>
        <%= image_tag "screenshots/multiple-feeds.png", class: "hide responsive" %>
        <%= image_tag "screenshots/account.png", class: "hide responsive" %>
        <%= image_tag "screenshots/import-export.png", class: "hide responsive" %>
        <%= image_tag "screenshots/share-menu.png", class: "hide responsive" %>
        <%= image_tag "screenshots/configure-sharing.png", class: "hide responsive" %>
        <%= image_tag "screenshots/feed-management.png", class: "hide responsive" %>
      </div>
    </div>
  </div>

  <div class="developers">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="tagline-small">API</h2>
          <p class="sub-head">Fully featured, documented API. Feedbin provides access to all your data through a simple JSON API. Get subscriptions, articles and read/starred states and more. </p>
          <p class="sub-head"><a href="https://github.com/feedbin/feedbin-api#readme">Check out the documentation</a> to get started</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <%= image_tag 'api-promo.svg', class: 'api-promo responsive' %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "shared/public_footer" %>

<% end %>
