<%= render Settings::ControlRowComponent.new do |row| %>
  <% row.title do %>
    <% if user.deleted? %>
        <span class="line-through"><%= link_to user.email, user.stripe_url %></span>
    <% else %>
        <%= link_to user.email, user.stripe_url %>
    <% end %>
  <% end %>
  <% row.control do %>
    <% unless user.deleted? %>
      <%= link_to "Reset Password", reset_password_admin_user_path(user), remote: true, data: { confirm: "Are you sure?" }, method: :post %>
      <%= link_to "Delete", admin_user_path(user), remote: true, data: { confirm: "Are you sure?" }, method: :delete, class: "!text-red-600" %>
    <% end %>
  <% end %>
<% end %>
