<% cache [@user.id, @entries, "v3"] do %>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= @title %></title>
    <description><%= @title %></description>
    <atom:link href="<%= starred_url(@user.starred_token, format: :xml) %>" rel="self" type="application/rss+xml"/>
    <link><%= root_url %></link>
    <% @entries.each do |entry| %>
    <item>
      <title><![CDATA[<%= xml_format(entry.title, entry) %>]]></title>
      <description><![CDATA[<%= xml_format(entry.content, entry) %>]]></description>
      <pubDate><%= entry.published.to_s(:rfc822) %></pubDate>
      <link><%= entry.fully_qualified_url %></link>
      <dc:creator><%= entry.feed.title %></dc:creator>
      <guid isPermaLink="false"><%= "https://feedbin.me#{entry_path(entry)}" %></guid>
    </item>
    <% end %>
  </channel>
</rss>
<% end %>