<div class="settings-nav">
  <ul class="nav">
    <li><%= link_to 'Settings', settings_path, class: is_active?('settings', 'settings') %></li>
    <li><%= link_to 'Feeds', settings_feeds_path, class: is_active?('settings', 'feeds') %></li>
    <li><%= link_to 'Actions', actions_path, class: is_active?('actions', 'index') %></li>
    <li class="sharing-link"><%= link_to 'Sharing', sharing_services_path, class: is_active?('sharing_services', 'index') %></li>
    <li><%= link_to 'Account', settings_account_path, class: is_active?('settings', 'account') %></li>
    <li><%= link_to 'Billing', settings_billing_path, class: is_active?('settings', 'billing') %></li>
    <li><%= link_to 'Import/Export', settings_import_export_path, class: is_active?('settings', 'import_export') %></li>
    <li><%= link_to 'Help', settings_help_path, class: is_active?('settings', 'help') %></li>
    <li><%= link_to 'Log Out', logout_path, method: 'delete', class: 'logout-link' %></li>
  </ul>
  <ul class="nav nav-small">
    <li class="home-link"><a href="/home">Home</a></li>
    <li class="blog-link"><a href="http://blog.feedbin.me" target="_blank">Blog</a></li>
    <li class="api-link"><a href="https://github.com/feedbin/feedbin-api#readme" target="_blank">API</a></li>
    <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>

    <li><a href="https://github.com/feedbin/support#readme" target="_blank">Contact & Support</a></li>
    <li class="twitter-link"><a href="https://twitter.com/feedbin" target="_blank">Twitter</a></li>
  </ul>
</div>