<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Feedbin' %></title>
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no" />
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('apple-touch-icon-precomposed.png') %>" />
  <%= stylesheet_link_tag "application", media: 'all'  %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
</head>
<body class="<%= @class %>" data-behavior="<%= @behavior %>">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= render partial: 'shared/tracking' %>
  <%= render partial: 'shared/favicons' %>
  <%= render partial: 'shared/fonts' %>
</body>
</html>
