<% content_for :content do %>
  <div class="application-messages"><div class="message-content" data-behavior="messages">You have subscribed</div></div>
  <div class="modal-target"></div>
  <header class="bar">
		<a href="/" class="logo"><%= render partial: 'shared/svg/logo' %></a>
			
    <% if signed_in? %>
      <% if current_user.admin || current_user.id % 4 == 0 %>
      <div class="header-form-wrap">
        <div class="header-form-option selected" data-behavior="header_form_option search_form_wrap">
          <%= render partial: "entries/search_form" %>
        </div>
        <div class="header-form-option" data-behavior="header_form_option subscribe_form_wrap">
          <%= render partial: "subscriptions/form" %>
        </div>
        <div class="form-select dropdown-wrap" data-behavior="form_select">
          <div class="form-select-button" data-behavior="show_form_options toggle_dropdown">
            Search
          </div>
          <ul>
            <li data-select-option="search_form_wrap"><span>Search</span></li>
            <li data-select-option="subscribe_form_wrap"><span>Subscribe</span></li>
          </ul>
        </div>
      </div>
      <% else %>
        <div class="header-form-wrap small-form">
          <%= render partial: "subscriptions/form" %>
        </div>
      <% end %>
    <% end %>

    <div class="account-buttons">
      <% if signed_in? %>
        <%= link_to 'Settings', settings_path %>
        <%= link_to "Log Out", logout_path, method: "delete", class: 'logout-link' %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </div>

  </header>
	
  <div class="content">
    <%= content_for?(:app_content) ? yield(:app_content) : yield %>
  </div>

<% end %>
<%= render template: 'layouts/wrap' %>
