<% content_for :content do %>
  <div class="application-messages"><div class="message-content" data-behavior="messages">You have subscribed</div></div>
  <div class="modal-target"></div>
  <header class="bar">
		<a href="/" class="logo"><%= render partial: 'shared/svg/logo' %></a>

    <% if signed_in? %>
      <div class="header-form-wrap">
        <div class="header-form-option selected" data-behavior="header_form_option search_form_wrap">
          <span class="save-search-link" data-behavior="save_search_link" disabled="disabled">Save</span>
          <%= render partial: "entries/search_form" %>
          <div class="saved-search-wrap">
            <div class="saved-inner" data-behavior="saved_search_form_target">
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if signed_in? && current_user.plan.stripe_id == 'trial' %>
      <%= link_to settings_billing_path, class: 'subscribe-promo' do %>
        <%= pluralize(current_user.days_left, 'day') %> left, subscribe now
      <% end %>
    <% end %>

    <div class="account-buttons">
      <% if signed_in? %>
        <%= link_to 'Settings', settings_path %>
        <%= link_to 'Log Out', logout_path, method: 'delete' %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </div>
    <% if signed_in? %>
      <div class="menu">
        <div class="menu-button"></div>
        <%= render partial: 'layouts/settings_nav' %>
      </div>
    <% end %>
  </header>

  <div class="content">
    <%= content_for?(:app_content) ? yield(:app_content) : yield %>
  </div>

<% end %>
<%= render template: 'layouts/wrap' %>
