<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Feedbin' %></title>
  <%= render partial: 'shared/mobile_meta' %>
  <%= stylesheet_link_tag "application", media: 'all'  %>
  <%= render partial: 'shared/favicons' %>
  <%= yield(:head) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
</head>
<body class="<%= @class %>">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= render partial: 'shared/tracking' %>
</body>
</html>
