<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "tailwind" %>
    <%= javascript_include_tag "lib/lib"  %>
    <%= javascript_include_tag "web"  %>
    <%= javascript_importmap_tags %>
</head>
<body>
  <% %w[day dusk sunset midnight].each do |theme| %>
  <h2 class="font-bold my-4 mx-6"><%= theme.titleize %></h2>
  <div class="theme-<%= theme %> bg-0 p-6 shadow-xl m-6 border rounded-xl text-600">
    <%= yield %>
  </div>
  <% end %>
  <%= render partial: "shared/svg" %>
</body>
</html>
