<div class="modal-content">
    <% if content_for?(:modal_content) %>
        <%= yield :modal_content %>
    <% end %>

    <% if content_for?(:modal_title) %>
        <div class="modal-header">
            <h5 class="modal-title"><%= yield :modal_title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <%= svg_tag 'icon-full-screen-close-small', size: '16x16' %>
            </button>
        </div>
    <% end %>
    <% if content_for?(:modal_body) %>
        <div class="modal-body">
            <%= yield :modal_body %>
        </div>
    <% end %>
    <div class="modal-footer <%= content_for?(:modal_footer) ? "" : "hide" %>">
        <%= yield :modal_footer %>
    </div>
</div>
