<% present @user do |user_presenter| %>
    <% @class = "settings-body settings-#{params[:action]} theme-#{user_presenter.theme}"%>
<% end %>
<% content_for :content do %>
<div class="settings settings-page">
    <%= render partial: 'shared/notification' %>
    <script>
        <%= render partial: "shared/message_flash", locals: {flash: flash} %>
    </script>
    <div class="settings-inner">
        <div class="settings-nav">
            <a href="/" class="logo">
                <%= svg_tag "logo-full", inline: true %>
            </a>
            <%= render partial: "shared/settings_nav" %>
        </div>
        <div class="settings-content">
            <button class="reset settings-menu-button" data-behavior="open_modal" data-modal-target="settings_nav">
                <%= svg_tag "icon-menu" %>
            </button>
            <%= yield %>
        </div>
    </div>
    <%= render partial: "shared/svg" %>
    <%= render partial: "shared/modals/settings_modal" %>
</div>
<% end %>
<%= render template: "layouts/application" %>
