<% @class = 'app mobile' %>
<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <% if ENV['FONT_STYLESHEET'] %>
  <link rel="stylesheet" type="text/css" href="<%= ENV['FONT_STYLESHEET'] %>" />
  <% end %>
<% end %>

<% content_for :sidebar do %>
<div class="side-toolbar-wrap">
  <div class="side-toolbar">
		
    <%= content_tag :button, '<i class="icon-feeds"></i>'.html_safe, class: 'sidebar-button panel-nav button-panel-feeds active', data: {behavior: 'feeds_panel panel_nav', panel: 'feeds'}  %>
    <%= content_tag :button, '<i class="icon-entries"></i>'.html_safe, class: 'sidebar-button panel-nav button-panel-entries', data: {behavior: 'entries_panel panel_nav', panel: 'entries'}  %>
    <%= content_tag :button, '<i class="icon-entry-content"></i>'.html_safe, class: 'sidebar-button panel-nav button-panel-entry-wrap', data: {behavior: 'entry_content_panel panel_nav', panel: 'entry-wrap'}  %>
    
    <div class="landscape-hide">
      <%= render partial: 'shared/buttons/view_all' %>
      <%= render partial: 'shared/buttons/view_unread' %>
      <%= render partial: 'shared/buttons/mark_all_as_read', locals: {type: nil, data: nil} %>
      <%= render partial: 'shared/buttons/unsubscribe', locals: {feed: nil} %>
    </div>
    
  </div>
</div>
<% end %>

<div class="feeds panel">
  <ul data-behavior="feeds_target">
    <%= render partial: 'feeds/feeds', locals: {collections: @collections, tags: @tags, feeds: @feeds} %>
  </ul>
</div>

<div class="entries panel">
	<ul data-behavior="entries_target"></ul>
</div>

<div class="full-height entry-wrap panel">
	<div class="entry-content-wrap full-height <%= @user.entry_width %> font-size-<%= @user.font_size || 5 %> font-<%= @user.font || 'default' %>" data-font-size="<%= @user.font_size || 5 %>"  data-font="<%= @user.font || 'default' %>" data-behavior="entry_content_target"></div>
</div>
<div class="hide" data-behavior="entry_settings_content">
  <%= render partial: 'shared/entry_settings' %>
</div>
<%= render partial: "shared/data", locals: {mobile: true} %>

